/*	changedScriptHandlers.plist
	
	This file specifies old names for script event handlers. If a handler is
	not found, the scripting mechanism looks for an alias in this file. All
	such support is temporary and transitional.
		
	Possibly confusing is that the new name is the key (left hand side) and
	the old name is the value (right hand side).
*/

{
	"shipTargetDestroyed" = "shipDestroyedTarget";
	"shipTargetLost" = "shipLostTarget";
}
