{
	"constrictor-mission-thief" =
	{
		"random_seed" = "1 3 5 7 11 13";	// fix the name and details, but use the key to keep it secret
		bounty = 1000;	// not actually used, we do the reward in the script
		origin = 7;		// system number seven (Lave in Galaxy 0)
		"script_actions" =
		(
			/*
				check if docked
				print congratulatory message from the Imperial Navy
				award a special bounty
			*/
			{
				conditions =
				(
					"status_string equal STATUS_DOCKED"
				);
				do =
				(
					{
						conditions =
						(
							"gui_screen_string notequal GUI_SCREEN_MISSION"
						);
						do = (
							"setMissionMusic: none",
							"setMissionImage: none",
							"showShipModel: none",
							"setGuiToMissionScreen"
						);
					},
					"awardCredits: 1000",
					"addMissionText: constrictor_hunt_thief_captured"
				);
			}
		);
	};
}
