<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<array>
		<array>
			<string>Foiotrrod</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>19</integer>
			<integer>-2</integer>
			<integer>-2</integer>
			<integer>6</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Textiles</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>20</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>10</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Radioactives</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>65</integer>
			<integer>-3</integer>
			<integer>-3</integer>
			<integer>2</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Slaves</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>40</integer>
			<integer>-5</integer>
			<integer>-5</integer>
			<integer>226</integer>
			<integer>31</integer>
			<integer>31</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Liquor/Wines</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>83</integer>
			<integer>-5</integer>
			<integer>-5</integer>
			<integer>251</integer>
			<integer>15</integer>
			<integer>15</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Luxuries</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>196</integer>
			<integer>8</integer>
			<integer>8</integer>
			<integer>54</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Narcotics</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>235</integer>
			<integer>29</integer>
			<integer>29</integer>
			<integer>8</integer>
			<integer>120</integer>
			<integer>120</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Computers</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>154</integer>
			<integer>14</integer>
			<integer>14</integer>
			<integer>56</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Machinery</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>117</integer>
			<integer>6</integer>
			<integer>6</integer>
			<integer>40</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Alloys</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>78</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>17</integer>
			<integer>31</integer>
			<integer>31</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Firearms</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>124</integer>
			<integer>13</integer>
			<integer>13</integer>
			<integer>29</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Furs</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>176</integer>
			<integer>-9</integer>
			<integer>-9</integer>
			<integer>220</integer>
			<integer>63</integer>
			<integer>63</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Minerals</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>32</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>53</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Gold</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>97</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>66</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Platinum</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>171</integer>
			<integer>-2</integer>
			<integer>-2</integer>
			<integer>55</integer>
			<integer>31</integer>
			<integer>31</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Gem-Stones</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>45</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>250</integer>
			<integer>15</integer>
			<integer>15</integer>
			<integer>2</integer>
		</array>
		<array>
			<string>Alien Items</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>53</integer><!-- base price x 1/4 -->
			<integer>15</integer><!-- price adjust -->
			<integer>0</integer><!-- quantity adjust -->
			<integer>0</integer><!-- base quantity -->
			<integer>7</integer><!-- price mask -->
			<integer>0</integer><!-- quantity mask -->
			<integer>0</integer><!-- units -->
		</array>
	</array>
	<key>rockhermit</key>
	<array>
		<array>
			<string>Food</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>19</integer>
			<integer>-2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Textiles</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>20</integer>
			<integer>-1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Radioactives</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>42</integer>
			<integer>-3</integer>
			<integer>-3</integer>
			<integer>1</integer>
			<integer>7</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Slaves</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>40</integer>
			<integer>-5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>31</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Liquor/Wines</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>105</integer>
			<integer>-5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>15</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Luxuries</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>236</integer>
			<integer>8</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Narcotics</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>235</integer>
			<integer>29</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>120</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Computers</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>51</integer>
			<integer>14</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Machinery</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>117</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Alloys</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>78</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>31</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Firearms</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>32</integer>
			<integer>13</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Furs</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>36</integer>
			<integer>-9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>63</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Minerals</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>16</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>85</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Gold</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>73</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>3</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Platinum</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>145</integer>
			<integer>-2</integer>
			<integer>-2</integer>
			<integer>6</integer>
			<integer>31</integer>
			<integer>7</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Gem-Stones</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>25</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>250</integer>
			<integer>15</integer>
			<integer>15</integer>
			<integer>2</integer>
		</array>
		<array>
			<string>Alien Items</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>22</integer><!-- base price x 1/4 -->
			<integer>15</integer><!-- price adjust -->
			<integer>0</integer><!-- quantity adjust -->
			<integer>0</integer><!-- base quantity -->
			<integer>7</integer><!-- price mask -->
			<integer>0</integer><!-- quantity mask -->
			<integer>0</integer><!-- units -->
		</array>
	</array>
	<key>none</key>
	<array>
		<array>
			<string>Food</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Textiles</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Radioactives</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Slaves</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Liquor/Wines</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Luxuries</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Narcotics</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Computers</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Machinery</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Alloys</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Firearms</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Furs</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Minerals</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Gold</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Platinum</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>Gem-Stones</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<string>Alien Items</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer><!-- base price x 1/4 -->
			<integer>0</integer><!-- price adjust -->
			<integer>0</integer><!-- quantity adjust -->
			<integer>0</integer><!-- base quantity -->
			<integer>0</integer><!-- price mask -->
			<integer>0</integer><!-- quantity mask -->
			<integer>0</integer><!-- units -->
		</array>
	</array>
</dict>
</plist>
