/* The values are:
   1.  The name of the commodity
   2. Units available at a market (this is calculated at each marketplace)
   3. Price per unit at a market (this is calculated at each marketplace)
   4. The base price per unit MARKET_BASE_PRICE ( base price x 1/4 )
   5. An adjustment to price based on the economy MARKET_ECO_ADJUST_PRICE ( price adjust )
   6. An adjustment to units availble based on the economy MARKET_ECO_ADJUST_QUANTITY ( quantity adjust )
   7. The base quantity available to a market MARKET_BASE_QUANTITY ( base quantity )
   8. A 'mask' which defines how the price varies MARKET_MASK_PRICE ( price mask )
   9. A 'mask' which defines how the quantity varies MARKET_MASK_QUANTITY ( quantity mask )
  10. The unit of quantity (0 == tons, 1 == kilos, 2 == grams) units
*/
{
	default =
	(
		( "Food", 0, 0, 19, -2, -2, 6, 1, 1, 0 ),
		( "Textiles", 0, 0, 20, -1, -1, 10, 3, 3, 0 ),
		( "Radioactives", 0, 0, 65, -3, -3, 2, 7, 7, 0 ),
		( "Slaves", 0, 0, 40, -5, -5, 226, 31, 31, 0 ),
		( "Liquor/Wines", 0, 0, 83, -5, -5, 251, 15, 15, 0 ),
		( "Luxuries", 0, 0, 196, 8, 8, 54, 3, 3, 0 ),
		( "Narcotics", 0, 0, 235, 29, 29, 8, 120, 120, 0 ),
		( "Computers", 0, 0, 154, 14, 14, 56, 3, 3, 0 ),
		( "Machinery", 0, 0, 117, 6, 6, 40, 7, 7, 0 ),
		( "Alloys", 0, 0, 78, 1, 1, 17, 31, 31, 0 ),
		( "Firearms", 0, 0, 124, 13, 13, 29, 7, 7, 0 ),
		( "Furs", 0, 0, 176, -9, -9, 220, 63, 63, 0 ),
		( "Minerals", 0, 0, 32, -1, -1, 53, 3, 3, 0 ),
		( "Gold", 0, 0, 97, -1, -1, 66, 7, 7, 1 ),
		( "Platinum", 0, 0, 171, -2, -2, 55, 31, 31, 1 ),
		( "Gem-Stones", 0, 0, 45, -1, -1, 250, 15, 15, 2 ),
		( "Alien Items", 0, 0, 53, 15, 0, 0, 7, 0, 0 )
	);
	rockhermit =
	(
		( "Food", 0, 0, 19, -2, 0, 0, 1, 0, 0 ),
		( "Textiles", 0, 0, 20, -1, 0, 0, 3, 0, 0 ),
		( "Radioactives", 0, 0, 42, -3, -3, 1, 7, 3, 0 ),
		( "Slaves", 0, 0, 40, -5, 0, 0, 31, 0, 0 ),
		( "Liquor/Wines", 0, 0, 105, -5, 0, 0, 15, 0, 0 ),
		( "Luxuries", 0, 0, 236, 8, 0, 0, 3, 0, 0 ),
		( "Narcotics", 0, 0, 235, 29, 0, 0, 120, 0, 0 ),
		( "Computers", 0, 0, 51, 14, 0, 0, 3, 0, 0 ),
		( "Machinery", 0, 0, 117, 6, 0, 0, 7, 0, 0 ),
		( "Alloys", 0, 0, 78, 1, 0, 0, 31, 0, 0 ),
		( "Firearms", 0, 0, 32, 13, 0, 0, 7, 0, 0 ),
		( "Furs", 0, 0, 36, -9, 0, 0, 63, 0, 0 ),
		( "Minerals", 0, 0, 16, -1, -1, 85, 3, 3, 0 ),
		( "Gold", 0, 0, 73, -1, -1, 5, 7, 3, 1 ),
		( "Platinum", 0, 0, 145, -2, -2, 6, 31, 7, 1 ),
		( "Gem-Stones", 0, 0, 25, -1, -1, 250, 15, 15, 2 ),
		( "Alien Items", 0, 0, 22, 15, 0, 0, 7, 0, 0 )
	);
	none =
	(
		( "Food", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Textiles", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Radioactives", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Slaves", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Liquor/Wines", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Luxuries", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Narcotics", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Computers", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Machinery", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Alloys", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Firearms", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Furs", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Minerals", 0, 0, 0, 0, 0, 0, 0, 0, 0 ),
		( "Gold", 0, 0, 0, 0, 0, 0, 0, 0, 1 ),
		( "Platinum", 0, 0, 0, 0, 0, 0, 0, 0, 1 ),
		( "Gem-Stones", 0, 0, 0, 0, 0, 0, 0, 0, 2 ),
		( "Alien Items", 0, 0, 0, 0, 0, 0, 0, 0, 0 )
	);
}