{
    default = (
	(
	    Food,
	    <*I0>,
	    <*I0>,
	    <*I19>,
	    <*I"-2">,
	    <*I"-2">,
	    <*I6>,
	    <*I1>,
	    <*I1>,
	    <*I0>
	),
	(
	    Textiles,
	    <*I0>,
	    <*I0>,
	    <*I20>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I10>,
	    <*I3>,
	    <*I3>,
	    <*I0>
	),
	(
	    Radioactives,
	    <*I0>,
	    <*I0>,
	    <*I65>,
	    <*I"-3">,
	    <*I"-3">,
	    <*I2>,
	    <*I7>,
	    <*I7>,
	    <*I0>
	),
	(
	    Slaves,
	    <*I0>,
	    <*I0>,
	    <*I40>,
	    <*I"-5">,
	    <*I"-5">,
	    <*I226>,
	    <*I31>,
	    <*I31>,
	    <*I0>
	),
	(
	    Liquor/Wines,
	    <*I0>,
	    <*I0>,
	    <*I83>,
	    <*I"-5">,
	    <*I"-5">,
	    <*I251>,
	    <*I15>,
	    <*I15>,
	    <*I0>
	),
	(
	    Luxuries,
	    <*I0>,
	    <*I0>,
	    <*I196>,
	    <*I8>,
	    <*I8>,
	    <*I54>,
	    <*I3>,
	    <*I3>,
	    <*I0>
	),
	(
	    Narcotics,
	    <*I0>,
	    <*I0>,
	    <*I235>,
	    <*I29>,
	    <*I29>,
	    <*I8>,
	    <*I120>,
	    <*I120>,
	    <*I0>
	),
	(
	    Computers,
	    <*I0>,
	    <*I0>,
	    <*I154>,
	    <*I14>,
	    <*I14>,
	    <*I56>,
	    <*I3>,
	    <*I3>,
	    <*I0>
	),
	(
	    Machinery,
	    <*I0>,
	    <*I0>,
	    <*I117>,
	    <*I6>,
	    <*I6>,
	    <*I40>,
	    <*I7>,
	    <*I7>,
	    <*I0>
	),
	(
	    Alloys,
	    <*I0>,
	    <*I0>,
	    <*I78>,
	    <*I1>,
	    <*I1>,
	    <*I17>,
	    <*I31>,
	    <*I31>,
	    <*I0>
	),
	(
	    Firearms,
	    <*I0>,
	    <*I0>,
	    <*I124>,
	    <*I13>,
	    <*I13>,
	    <*I29>,
	    <*I7>,
	    <*I7>,
	    <*I0>
	),
	(
	    Furs,
	    <*I0>,
	    <*I0>,
	    <*I176>,
	    <*I"-9">,
	    <*I"-9">,
	    <*I220>,
	    <*I63>,
	    <*I63>,
	    <*I0>
	),
	(
	    Minerals,
	    <*I0>,
	    <*I0>,
	    <*I32>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I53>,
	    <*I3>,
	    <*I3>,
	    <*I0>
	),
	(
	    Gold,
	    <*I0>,
	    <*I0>,
	    <*I97>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I66>,
	    <*I7>,
	    <*I7>,
	    <*I1>
	),
	(
	    Platinum,
	    <*I0>,
	    <*I0>,
	    <*I171>,
	    <*I"-2">,
	    <*I"-2">,
	    <*I55>,
	    <*I31>,
	    <*I31>,
	    <*I1>
	),
	(
	    "Gem-Stones",
	    <*I0>,
	    <*I0>,
	    <*I45>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I250>,
	    <*I15>,
	    <*I15>,
	    <*I2>
	),
	(
	    "Alien Items",
	    <*I0>,
	    <*I0>,
	    <*I53>,
	    <*I15>,
	    <*I0>,
	    <*I0>,
	    <*I7>,
	    <*I0>,
	    <*I0>
	)
    );
    none = (
	(
	    Food,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Textiles,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Radioactives,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Slaves,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Liquor/Wines,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Luxuries,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Narcotics,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Computers,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Machinery,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Alloys,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Firearms,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Furs,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Minerals,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	),
	(
	    Gold,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I1>
	),
	(
	    Platinum,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I1>
	),
	(
	    "Gem-Stones",
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I2>
	),
	(
	    "Alien Items",
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>,
	    <*I0>
	)
    );
    rockhermit = (
	(
	    Food,
	    <*I0>,
	    <*I0>,
	    <*I19>,
	    <*I"-2">,
	    <*I0>,
	    <*I0>,
	    <*I1>,
	    <*I0>,
	    <*I0>
	),
	(
	    Textiles,
	    <*I0>,
	    <*I0>,
	    <*I20>,
	    <*I"-1">,
	    <*I0>,
	    <*I0>,
	    <*I3>,
	    <*I0>,
	    <*I0>
	),
	(
	    Radioactives,
	    <*I0>,
	    <*I0>,
	    <*I42>,
	    <*I"-3">,
	    <*I"-3">,
	    <*I1>,
	    <*I7>,
	    <*I3>,
	    <*I0>
	),
	(
	    Slaves,
	    <*I0>,
	    <*I0>,
	    <*I40>,
	    <*I"-5">,
	    <*I0>,
	    <*I0>,
	    <*I31>,
	    <*I0>,
	    <*I0>
	),
	(
	    Liquor/Wines,
	    <*I0>,
	    <*I0>,
	    <*I105>,
	    <*I"-5">,
	    <*I0>,
	    <*I0>,
	    <*I15>,
	    <*I0>,
	    <*I0>
	),
	(
	    Luxuries,
	    <*I0>,
	    <*I0>,
	    <*I236>,
	    <*I8>,
	    <*I0>,
	    <*I0>,
	    <*I3>,
	    <*I0>,
	    <*I0>
	),
	(
	    Narcotics,
	    <*I0>,
	    <*I0>,
	    <*I235>,
	    <*I29>,
	    <*I0>,
	    <*I0>,
	    <*I120>,
	    <*I0>,
	    <*I0>
	),
	(
	    Computers,
	    <*I0>,
	    <*I0>,
	    <*I51>,
	    <*I14>,
	    <*I0>,
	    <*I0>,
	    <*I3>,
	    <*I0>,
	    <*I0>
	),
	(
	    Machinery,
	    <*I0>,
	    <*I0>,
	    <*I117>,
	    <*I6>,
	    <*I0>,
	    <*I0>,
	    <*I7>,
	    <*I0>,
	    <*I0>
	),
	(
	    Alloys,
	    <*I0>,
	    <*I0>,
	    <*I78>,
	    <*I1>,
	    <*I0>,
	    <*I0>,
	    <*I31>,
	    <*I0>,
	    <*I0>
	),
	(
	    Firearms,
	    <*I0>,
	    <*I0>,
	    <*I32>,
	    <*I13>,
	    <*I0>,
	    <*I0>,
	    <*I7>,
	    <*I0>,
	    <*I0>
	),
	(
	    Furs,
	    <*I0>,
	    <*I0>,
	    <*I36>,
	    <*I"-9">,
	    <*I0>,
	    <*I0>,
	    <*I63>,
	    <*I0>,
	    <*I0>
	),
	(
	    Minerals,
	    <*I0>,
	    <*I0>,
	    <*I16>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I85>,
	    <*I3>,
	    <*I3>,
	    <*I0>
	),
	(
	    Gold,
	    <*I0>,
	    <*I0>,
	    <*I73>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I5>,
	    <*I7>,
	    <*I3>,
	    <*I1>
	),
	(
	    Platinum,
	    <*I0>,
	    <*I0>,
	    <*I145>,
	    <*I"-2">,
	    <*I"-2">,
	    <*I6>,
	    <*I31>,
	    <*I7>,
	    <*I1>
	),
	(
	    "Gem-Stones",
	    <*I0>,
	    <*I0>,
	    <*I25>,
	    <*I"-1">,
	    <*I"-1">,
	    <*I250>,
	    <*I15>,
	    <*I15>,
	    <*I2>
	),
	(
	    "Alien Items",
	    <*I0>,
	    <*I0>,
	    <*I22>,
	    <*I15>,
	    <*I0>,
	    <*I0>,
	    <*I7>,
	    <*I0>,
	    <*I0>
	)
    );
}