{
	/*	Sound keys starting with @ are (by convention) only used within
		customsounds.plist, not directly by the game.
	*/
	
	// Interface sounds
	"[@beep]"						= "beep.ogg";			// positive beep
	"[@boop]"						= "boop.ogg";			// negative beep
	"[@click]"						= "guiclick.ogg";
	"[@witchabort]"					= "witchabort.ogg";
	
	"[@switch-on]"					= "[@beep]";
	"[@switch-off]"					= "[@boop]";
	"[ident-on]"					= "[@switch-on]";		// Turned on ident
	"[ident-off]"					= "[@switch-off]";		// Turned off ident
	"[ident-locked-on]"				= "[@beep]";			// Ident targeted ship
	"[missile-locked-on]"			= "[@beep]";
	"[missile-launched]"			= "missile.ogg";
	"[missile-armed]"				= "[@beep]";
	"[mine-armed]"					= "[@beep]";
	"[missile-safe]"				= "[@boop]";
	"[next-equipment-selected]"		= "[@click]";
	"[next-missile-selected]"		= "[@click]";
	"[weapons-online]"				= "[@beep]";
	"[weapons-offline]"				= "[@boop]";
	"[save-overwrite-yes]"			= "[@beep]";			// Player selects Overwrite on "are you sure you want to overwrite?" alert on save screen
	"[save-overwrite-no]"			= "[@boop]";			// Player selects Cancel on "are you sure you want to overwrite?" alert on save screen
	"[buy-commodity]"				= "buy.ogg";
	"[buy-ship]"					= "[buy-commodity]";
	"[sell-commodity]"				= "sell.ogg";
	"[could-not-buy-commodity]"		= "[@boop]";
	"[could-not-sell-commodity]"	= "[@boop]";
	"[could-not-buy-ship]"			= "[could-not-buy-commodity]";
	"[contract-accepted]"			= "[buy-commodity]";
	"[contract-rejected]"			= "[could-not-buy-commodity]";
	"[cargo-jettisoned]"			= "[@beep]";
	"[autopilot-on]"				= "[@switch-on]";
	"[autopilot-off]"				= "[@switch-off]";
	"[autopilot-out-of-range]"		= "[@switch-off]";
	"[autopilot-cannot-dock-with-target]" = "[@boop]";
	"[hold-full]"					= "[@boop]";
	"[target-lost]"					= "[@boop]";
	"[no-target-in-memory]"			= "[@boop]";
	"[jump-mass-locked]"			= "[@boop]";			// Target memory expansion could not be used
	"[target-switched]"				= "[@click]";			// Target memory expansion used successfully
	"[cloaking-device-on]"			= "[@switch-on]";
	"[cloaking-device-off]"			= "[@switch-off]";
	"[cloaking-device-insufficent-energy]" = "[@boop]";
	"[menu-navigation-up]"			= "[@click]";
	"[menu-navigation-down]"		= "[@click]";
//	"[menu-navigation-not]"			= "";					// Attempt to go past end of a menu; no sound by default
	"[menu-next-page]"				= "[@click]";
	"[menu-previous-page]"			= "[@click]";
	"[dismissed-report-screen]"		= "[@click]";
	"[dismissed-mission-screen]"	= "[@click]";			// No way to differentiate between mission options
	"[changed-option]"				= "[@click]";			// Player made a change on options screen
	"[scoop]"						= "scoop.ogg";
	
	// Hyperspace
	"[hyperspace-countdown-begun]"	= "[@beep]";
	"[galactic-hyperspace-countdown-begun]" = "[@beep]";
	"[hyperspace-countdown-aborted]" = "[@boop]";
	"[witch-no-target]"				= "[@boop]";
	"[witch-no-fuel]"				= "[@boop]";
	"[witch-blocked-by-@]"			= "[@witchabort]";
	"[witch-too-far]"				= "[@witchabort]";
	"[witch-no-fuel]"				= "[@witchabort]";
	
	// Damage
	"[player-hit-by-weapon]"		= "hit.ogg";			// Hit by weapon
	"[player-direct-hit]"			= "hullbang.ogg";		// Hit by weapon while shield down ([player-hit-by-weapon] and [player-direct-hit] play at once)
	"[player-scrape-damage]"		= "hullbang.ogg";		// Touched another ship (or docking bay)
	
	// Outgoing weapons fire
	"[player-laser-hit]"			= "laserhits.ogg";
	"[player-laser-miss]"			= "laser.ogg";
	"[energy-bomb-fired]"			= "bigbang.ogg";
	
	// Warnings
	"[@warning]"					= "warning.ogg";		// Not used directly by game, only by references below.
	"[hostile-warning]"				= "[@warning]";
	"[alert-condition-red]"			= "[@warning]";
	"[incoming-missile]"			= "[@warning]";			// Help, help, they're shooting at us
//	"[energy-low]"					= "";					// Energy below 25% - may occur repeatedly
	"[autopilot-denied]"			= "[@warning]";			// Station refuses docking clearance
	"[witchdrive-malfunction]"		= "ecm.ogg";			// Misjump (3/4 witchjump malfunctions)
	"[witchdrive-failure]"			= "[@warning]";			// Jump failed, internal damage (1/8 witchjump malfunctions; other 1/8 is fuel leak, see [fuel-leak])
	"[fuel-leak]"					= "[@warning]";
	
	// Tunnel effects
	"[@breakpattern]"				= "breakpattern.ogg";	// Not used directly by game, only by references below.
	"[player-launch-from-station]"	= "[@breakpattern]";
	"[player-dock-with-station]"	= "[@breakpattern]";
	"[player-exit-witchspace]"		= "[@breakpattern]";
	
	// ECM
	"[player-fired-ecm]"			= "ecm.ogg";
	"[player-hit-by-ecm]"			= "ecm.ogg";
	
	"[game-over]"					= "bigbang.ogg";
	
	// Trumbles
	"[trumble-idle]"				= "trumble.ogg";
	"[trumble-squeal]"				= "trumblesqueal.ogg";
	
/*	The following can also be used:
	"[aegis-planet]" = "";
	"[aegis-station]" = "";
	"[escape-pod-scooped]" = "";
	"[mine-launched]" = "";
	"[weapon-overheat]" = "";
	"[wormhole-created]" = "";
*/
}
