{
	// Damage
	"[player-hit-by-weapon]"		= "hit.ogg";			// Hit by weapon
	"[player-direct-hit]"			= "hullbang.ogg";		// Hit by weapon while shield down ([player-hit-by-weapon] and [player-direct-hit] play at once)
	"[player-scrape-damage]"		= "hullbang.ogg";		// Touched another ship (or docking bay)
	
	// Outgoing weapons fire
	"[player-laser-hit]"			= "laserhits.ogg";
	"[player-laser-miss]"			= "laser.ogg";
	"[energy-bomb-fired]"			= "bigbang.ogg";
	
	// Warnings
	"[hostile-warning]"				= "warning.ogg";
	"[alert-condition-red]"			= "warning.ogg";
	"[incoming-missile]"			= "warning.ogg";		// Help, help, they're shooting at us
//	"[energy-low]"					= "";					// Energy below 25% - may occur repeatedly
	"[autopilot-denied]"			= "warning.ogg";		// Station refuses docking clearance
	"[witchdrive-malfunction]"		= "ecm.ogg";			// Misjump (3/4 witchjump malfunctions)
	"[witchdrive-failure]"			= "warning.ogg";		// Jump failed, internal damage (1/8 witchjump malfunctions; other 1/8 is fuel leak, see [fuel-leak])
	"[fuel-leak]"					= "warning.ogg";
	
	// Tunnel effects
	"[player-launch-from-station]"	= "breakpattern.ogg";
	"[player-dock-with-station]"	= "breakpattern.ogg";
	"[player-exit-witchspace]"		= "breakpattern.ogg";
	
	// ECM
	"[player-fired-ecm]"			= "ecm.ogg";
	"[player-hit-by-ecm]"			= "ecm.ogg";
	
	"[game-over]"					= "bigbang.ogg";
	
/*	The following can also be overriden:
	"[aegis-planet]" = "";
	"[aegis-station]" = "";
	"[autopilot-cannot-dock-with-target]" = "";
	"[autopilot-off]" = "";
	"[autopilot-on]" = "";
	"[autopilot-out-of-range]" = "";
	"[cargo-jettisoned]" = "";
	"[cloaking-device-off]" = "";
	"[cloaking-device-on]" = "";
	"[escape-pod-scooped]" = "";
	"[galactic-hyperspace-countdown-begun]" = "";
	"[game-over]" = "";
	"[hold-full]" = "";
	"[hyperspace-countdown-aborted]" = "";
	"[hyperspace-countdown-begun]" = "";
	"[ident-locked-on]" = "";
	"[ident-off]" = "";
	"[ident-on]" = "";
	"[incoming-missile]" = "";
	"[jump-mass-locked]" = "";
	"[mine-armed]" = "";
	"[mine-launched]" = "";
	"[missile-armed]" = "";
	"[missile-launched]" = "";
	"[missile-locked-on]" = "";
	"[missile-safe]" = "";
	"[no-target-in-memory]" = "";
	"[target-lost]" = "";
	"[weapon-overheat]" = "";
	"[witch-blocked-by-@]" = "";
	"[witch-no-fuel]" = "";
	"[witch-no-target]" = "";
	"[wormhole-created]" = "";
*/
}
