(
	"cobra3-player",
	"coriolis-station",
	"boa-mk2",
	transporter,
	alloy,
	cobramk1,
	worm,
	viper,
	asteroid,
	barrel,
	python,
	missile,
	tharglet,
	thargoid,
	boa,
	shuttle,
	"dodecahedron-station",
	sidewinder,
	moray,
	mamba,
	krait,
	boulder,
	ferdelance,
	gecko,
	anaconda,
	"escape-capsule",
	adder,
	asp
)
