{
    "@-ejected" = (
	"%@ ejected."
    );
    "@-locked-onto-@" = (
	"%@ locked onto %@."
    );
    "@-scooped" = (
	"%@ scooped."
    );
    "autopilot-denied" = (
	"Station refuses to issue docking instructions."
    );
    "autopilot-off" = (
	"Autopilot disengaged."
    );
    "autopilot-on" = (
	"Autopilot engaged."
    );
    "autopilot-out-of-range" = (
	"Could not contact station for docking instructions."
    );
    "beg-for-mercy" = (
	"No!",
	"Help! Anyone!",
	"Our systems are failing, please let us flee!",
	"Leave us alone!",
	"Don't shoot, please!",
	"Please stop! Have mercy!",
	"Please don't kill us! I beg you!",
	"S.O.S. ... S.O.S. ... S.O.S. ..."
    );
    "bounty-d" = (
	"Bounty: %d"
    );
    "buoy-distress-call" = (
	"You have attacked a Navigational Beacon. This is an illegal act.",
	"%H Navigational Beacon reports an illegal act of vandalism.",
	"%H Navigational Beacon to attacking craft. Please desist.",
	"Attacking a Navigational Beacon is illegal. Police are on their way."
    );
    "cloak-low-juice" = (
	"Not enough energy to activate cloaking device."
    );
    "cloak-off" = (
	"Cloaking device deactivated."
    );
    "cloak-on" = (
	"Cloaking device activated."
    );
    condition = (
	Docked,
	Green,
	Yellow,
	Red
    );
    "describe-Pirate" = (
	Brigand,
	Pirate,
	"Hostile vessel",
	Marauder,
	Criminal
    );
    "describe-pirate" = (
	brigand,
	pirate,
	"hostile vessel",
	marauder,
	criminal
    );
    digrams = "ABOUSEITILETSTONLONUTHNOALLEXEGEZACEBISOUSESARMAINDIREA'ERATENBERALAVETIEDORQUANTEISRION";
    "distress-call" = (
	"We are [7] by [describe-pirate]s! Please help!",
	"Our vessel is under attack, please help us.",
	"[describe-Pirate]s are attacking us. Please assist!",
	"Help! Anyone!",
	"Mayday! Mayday! Mayday! We are under attack.",
	"Help! They're firing on us!",
	"Mayday! Please assist. Mayday! Please assist.",
	"S.O.S. ... S.O.S. ... S.O.S. ..."
    );
    "docking-begin-final-aproach" = (
	"You are on final approach.",
	"Beginning final approach sequence."
    );
    "docking-welcome" = (
	"Docking systems active.",
	"Docking permission granted. We have uploaded docking instructions to your flight console."
    );
    "ecm-on" = (
	"ECM system activated."
    );
    "ecm-out-of-juice" = (
	"ECM system deactivated (no energy left)."
    );
    economy = (
	"Rich Industrial",
	"Average Industrial",
	"Poor Industrial",
	"Mainly Industrial",
	"Mainly Agricultural",
	"Rich Agricultural",
	"Average Agricultural",
	"Poor Agricultural"
    );
    "energy-bomb-activated" = (
	"Energy bomb triggered."
    );
    "energy-low" = (
	"Energy low."
    );
    "escape-sequence" = (
	"Escape sequence active."
    );
    fined = (
	"You have been fined %d credits.",
	"You have been fined %d credits, and made to pick up litter in the main hanger deck.",
	"You have been fined %d credits, and are forced to clean up after the [6]oids.",
	"You have been fined %d credits, and sent for 'attitude adjustment'."
    );
    "fuel-inject-on" = (
	"Fuel injection engaged."
    );
    "fuel-out" = (
	"Witchdrive fuel exhausted."
    );
    "game-paused" = (
	"Game paused."
    );
    "game-saved" = (
	"Game saved."
    );
    government = (
	Anarchy,
	Feudal,
	"Multi-Government",
	Dictatorship,
	Communist,
	Confederacy,
	Democracy,
	"Corporate State"
    );
    "hold-full" = (
	"Cargo holds full."
    );
    "ident-off" = (
	"Ident system deactivated."
    );
    "ident-on" = (
	"Ident system active."
    );
    "incoming-missile" = (
	"Incoming missile."
    );
    inhabitants = (
	(
	    Large,
	    Fierce,
	    Small
	),
	(
	    Green,
	    Red,
	    Yellow,
	    Blue,
	    Black,
	    Harmless
	),
	(
	    Slimy,
	    "Bug-Eyed",
	    Horned,
	    Bony,
	    Fat,
	    Furry
	),
	(
	    Rodent,
	    Frog,
	    Lizard,
	    Lobster,
	    Bird,
	    Humanoid,
	    Feline,
	    Insect
	)
    );
    "jump-mass-locked" = (
	"Hyperspeed mass-locked."
    );
    legal_status = (
	Clean,
	Offender,
	Fugitive
    );
    "mine-armed" = (
	"Mine armed."
    );
    "missile-armed" = (
	"Missile armed."
    );
    "missile-locked-onto-@" = (
	"Missile locked onto %@."
    );
    "missile-safe" = (
	"Missiles on safety."
    );
    "mouse-off" = (
	"Mouse control off."
    );
    "mouse-on" = (
	"Mouse control on."
    );
    "nova-system-description" = (
	"The %I sun has gone nova, destroying the planet and all life here. Beware of navigational and radiological hazards in this system."
    );
    phonograms = "AEb=UW==sEH=IHt=IHl=EHt=st==AAn=lOW=nUW=T===nOW=AEl=lEY=hEY=JEH=zEY=sEH=bIY=sOW=UHs=EHz=AEr=mAE=IHn=dIY=rEY=EH==UXr=AEt=EHn=bEH=rAX=lAX=vEH=tIY=EHd=AAr=kw==AXn=tEY=IHz=rIY=AAn=";
    "police-attack-warning" = (
	"Offender, your craft will be destroyed under GalCop codes.",
	"Please slow your engines and do not attempt to dodge our lasers, [describe-pirate]!",
	"%R! Leave now, or face Police retribution.",
	"[describe-Pirate], you are not welcome in this system.",
	"Offender vessel, this is %H Police. Leave now or be fired upon.",
	"[describe-Pirate], you have been scheduled for termination.",
	"Leave %H now or be destroyed.",
	"%H Police. Offending ship targeted. Moving to intercept."
    );
    "police-thanks-for-assist" = (
	"Thank you for the assistance.",
	"%H Police thank you for your assistance."
    );
    "police-warning" = (
	"Offender vessel, this is %H Police. You have been scanned and will face penalties if you choose to dock here.",
	"[describe-Pirate], this is %H Police. Fines will be imposed if you dock here.",
	"This is the police. Docking at %H will require legal compensation for your offences.",
	"This is the police. %H Station will fine you for your offences when you dock."
    );
    rating = (
	Harmless,
	"Mostly Harmless",
	Poor,
	Average,
	"Above Average",
	Competent,
	Dangerous,
	Deadly,
	"---- E L I T E ----"
    );
    "right-on-commander" = (
	"Right On, Commander!"
    );
    "station-begin-final-aproach" = (
	"You are on final approach to %H Station.",
	"Now entering %H space dock.",
	"Beginning final approach sequence.",
	"Entering final approach to %H Station."
    );
    "station-docking-refused-to-fugitive" = (
	"%H Station does NOT welcome fugitives!"
    );
    "station-hold-position" = (
	"Please be patient - you are being held in a docking queue.",
	"Docking sequence will recommence shortly. Thank you for your patience.",
	"Traffic is heavy, please continue to hold until we can clear an approach for you.",
	"You are being queued for docking. Thank you for your patience."
    );
    "station-welcome" = (
	"Welcome to %H space dock.",
	"Docking systems active. Welcome to %H.",
	"Welcome to %H. Please have your ship manifest ready for inspection upon docking",
	"%H Station here. We have uploaded docking instructions to your flight console.",
	"Salutations spacefarer! Welcome to %H.",
	"%H welcomes you. Docking procedures should take no more than a few minutes, please stand by.",
	"Welcome to %H. Please be patient while we guide your ship into space dock.",
	"Greetings! %H Station traffic control welcomes you."
    );
    system_description = (
	(
	    fabled,
	    notable,
	    "well known",
	    famous,
	    noted
	),
	(
	    very,
	    mildly,
	    most,
	    reasonably,
	    ""
	),
	(
	    ancient,
	    "[20]",
	    great,
	    vast,
	    pink
	),
	(
	    "[29] [28] plantations",
	    mountains,
	    "[27]",
	    "[19] forests",
	    oceans
	),
	(
	    shyness,
	    silliness,
	    "mating traditions",
	    "loathing of [5]",
	    "love for [5]"
	),
	(
	    "food blenders",
	    tourists,
	    poetry,
	    discos,
	    "[13]"
	),
	(
	    "talking tree",
	    crab,
	    bat,
	    lobst,
	    "%R"
	),
	(
	    beset,
	    plagued,
	    ravaged,
	    cursed,
	    scourged
	),
	(
	    "[21] civil war",
	    "[26] [23] [24]s",
	    "a [26] disease",
	    "[21] earthquakes",
	    "[21] solar activity"
	),
	(
	    "its [2] [3]",
	    "the %I [23] [24]",
	    "its inhabitants' [25] [4]",
	    "[32]",
	    "its [12] [13]"
	),
	(
	    juice,
	    brandy,
	    water,
	    brew,
	    "gargle blasters"
	),
	(
	    "%R",
	    "%I [24]",
	    "%I %R",
	    "%I [26]",
	    "[26] %R"
	),
	(
	    fabulous,
	    exotic,
	    hoopy,
	    unusual,
	    exciting
	),
	(
	    cuisine,
	    "night life",
	    casinos,
	    "sit coms",
	    "[32]"
	),
	(
	    "%H",
	    "The planet %H",
	    "The world %H",
	    "This planet",
	    "This world"
	),
	(
	    "n unremarkable",
	    " boring",
	    " dull",
	    " tedious",
	    " revolting"
	),
	(
	    planet,
	    world,
	    place,
	    "little planet",
	    dump
	),
	(
	    wasp,
	    moth,
	    grub,
	    ant,
	    "%R"
	),
	(
	    poet,
	    "arts graduate",
	    yak,
	    snail,
	    slug
	),
	(
	    tropical,
	    dense,
	    rain,
	    impenetrable,
	    exuberant
	),
	(
	    funny,
	    weird,
	    unusual,
	    strange,
	    peculiar
	),
	(
	    frequent,
	    occasional,
	    unpredictable,
	    dreadful,
	    deadly
	),
	(
	    "[1] [0] for [9]",
	    "[1] [0] for [9] and [9]",
	    "[7] by [8]",
	    "[1] [0] for [9] but [7] by [8]",
	    "a [15] [16]"
	),
	(
	    "[26]",
	    mountain,
	    edible,
	    tree,
	    spotted
	),
	(
	    "[30]",
	    "[31]",
	    "[6]oid",
	    "[18]",
	    "[17]"
	),
	(
	    ancient,
	    exceptional,
	    eccentric,
	    ingrained,
	    "[20]"
	),
	(
	    killer,
	    deadly,
	    evil,
	    lethal,
	    vicious
	),
	(
	    "parking meters",
	    "dust clouds",
	    "ice bergs",
	    "rock formations",
	    volcanoes
	),
	(
	    plant,
	    tulip,
	    banana,
	    corn,
	    "%Rweed"
	),
	(
	    "%R",
	    "%I %R",
	    "%I [26]",
	    inhabitant,
	    "%I %R"
	),
	(
	    shrew,
	    beast,
	    bison,
	    snake,
	    wolf
	),
	(
	    leopard,
	    cat,
	    monkey,
	    goat,
	    fish
	),
	(
	    "[11] [10]",
	    "%I [30] [33]",
	    "its [12] [31] [33]",
	    "[34] [35]",
	    "[11] [10]"
	),
	(
	    meat,
	    cutlet,
	    steak,
	    burgers,
	    soup
	),
	(
	    ice,
	    mud,
	    "Zero-G",
	    vacuum,
	    "%I ultra"
	),
	(
	    hockey,
	    cricket,
	    karate,
	    polo,
	    tennis
	)
    );
    "target-lost" = (
	"Target lost."
    );
    "thanks-for-assist" = (
	"Thank you for the assistance.",
	"Thanks!.",
	"%R bless you!",
	"Oh thank you! Help at last!"
    );
    thargoid_curses = (
	"Guard your [4], human [18]-[31]!",
	"Eat [6], [5]!",
	"We'll use your [20] [27] for our [33]!",
	"%R! %R! %R!"
    );
    "total-f-credits" = (
	"Total: %.1f Cr"
    );
    "weapon-out-of-juice" = (
	"Weapon system inactive (no energy left)."
    );
    "weapon-overheat" = (
	"Weapon system overheated."
    );
    weapon_name = (
	none,
	"Twin Plasma Cannon",
	"Pulse Laser",
	"Beam Laser",
	"Mining Laser",
	"Military Laser"
    );
    "witch-engine-malfunction" = (
	"Witchspace engine malfunction!"
    );
    "witch-galactic-in-f-seconds" = (
	"Intergalactic jump in %.0f s."
    );
    "witch-no-fuel" = (
	"Insufficient fuel for witchspace jump."
    );
    "witch-no-target" = (
	"No target system set."
    );
    "witch-to-@-in-f-seconds" = (
	"Witchspace to %@ in %.0f s."
    );
}