(
	(
		0, 2, "Fuel",
		"EQ_FUEL",
		"Fuel for the witchspace engines.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
			requires_non_full_fuel = true;
		}
	),
	(
		1, 300, "Missile",
		"EQ_MISSILE",
		"Faulcon de Lacy HM3 homing missile, fast and accurate when used in conjunction with standard targeting scanners.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
			/* NOTE: for reasons of backwards compatibility, this defaults to true for equipment whose key ends with MISSILE or MINE. */
			requires_empty_pylon = true;
			/* NOTE: this is always zero for pylon-mounted equipment */
			damage_probability = 0;
		}
	),
	(
		1, 4000, "Large Cargo Bay",
		"EQ_CARGO_BAY",
		"Retro-fitted hull extensions permit the enclosure of a few extra tons of cargo capacity.",
		{
			condition_script = "oolite-conditions.js";
		  damage_probability = 0;
		}
	),
	(
		2, 6000, "E.C.M. System",
		"EQ_ECM",
		"High power disruptor circuits capable of remotely detonating inbound missiles.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		5, 5250, "Fuel Scoops",
		"EQ_FUEL_SCOOPS",
		"Wide cargo entrance and magnetic scoops enable in-flight capture of mined materials, fuel gasses from the solar corona, and salvage of space debris.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		6, 10000, "Escape Pod",
		"EQ_ESCAPE_POD",
		"A simple emergency capsule with a life-support system, purchase includes comprehensive insurance for your ship and systems.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
/* Removed energy bomb entry since strict mode no longer exists. Can
 * easily be reimplemented as primable equipment with offensive
 * preference by OXP. */
	(
		8, 15000, "Extra Energy Unit",
		"EQ_ENERGY_UNIT",
		"An improved efficiency energy recharge unit.",
		{
			condition_script = "oolite-conditions.js";
			incompatible_with_equipment = "EQ_NAVAL_ENERGY_UNIT";
		}
	),
	/* condition script blocks this one from appearing normally */
	(
		13, 500000, "Naval Energy Unit",
		"EQ_NAVAL_ENERGY_UNIT",
		"A special improved efficiency energy recharge unit, as supplied to Navy vessels.",
		{
			condition_script = "oolite-conditions.js";
		}
		/* Special case: this eq MUST STAY COMPATIBLE with EQ_ENERGY_UNIT - It's all handled properly in code.
		Full details at http://developer.berlios.de/bugs/?func=detailbug&bug_id=13507&group_id=3577
		Original fix made in rev 1544 and broken in rev 1686. Fixed once again in rev 2599. Kaks 20090925 */
	),
	(
		9, 15000, "Docking Computers",
		"EQ_DOCK_COMP",
		"A simple autopilot and in-system communication system interlocking with local station systems.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		10, 50000, "Galactic Hyperdrive",
		"EQ_GAL_DRIVE",
		"A one-shot overcharge for the witchspace engines, enabling inter-galactic travel.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
		}
	),
	(
		3, 4000, "Pulse Laser",
		"EQ_WEAPON_PULSE_LASER",
		"High powered pulse laser, a basic defense configuration.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
		}
	),
	(
		4, 10000, "Beam Laser",
		"EQ_WEAPON_BEAM_LASER",
		"Rapid cycle laser, delivers more energy in less time for more effective results.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
		}
	),
	(
		10, 8000, "Mining Laser",
		"EQ_WEAPON_MINING_LASER",
		"High power, slow recharge. Ideal for mineral extraction from large asteroids.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
		}
	),
	(
		10, 60000, "Military Laser",
		"EQ_WEAPON_MILITARY_LASER",
		"Increased power beam laser, developed for Naval use.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
		}
	),
	/* condition script blocks this one from appearing normally */
	(
		15, 500000, "Cloaking Device",
		"EQ_CLOAKING_DEVICE",
		"Experimental Naval cloaking device.",
		{
			condition_script = "oolite-conditions.js";
			portable_between_ships = true;
			script = "oolite-cloaking-device-equipment.js";
			fast_affinity_defensive = true; // tries to bind to '0' key if nothing else using it
			available_to_all = true;
		}
	),
	(	/* Thargoid equipment, incompatible with non-thargoid ships. Not buyable because of its TL. */
		100, 1000, "Thargon",
		"thargon",
		"Alien drone ship.",
		{
			available_to_player = false;
		}
	),
	(	/* Thargoid equipment, standardised name. Incompatible with non-thargoid ships. Not buyable because of its TL. */
		100, 1000, "Thargon",
		"EQ_THARGON",
		"Alien drone ship.",
		{
			available_to_player = false;
		}
	),
	(
		/* Cute, fluffy pet. Not buyable through usual channels, you'll have to find a specialist merchant. */
		100, 300, "Trumble",
		"EQ_TRUMBLE",
		"A cute alien pet.",
		{
			visible = false;	// Hidden on status screen.
			damage_probability = 0;
		}
	),
	( /* Passenger Compartment, like missiles this can be bought multiple times */
		5, 8250, "Passenger Berth - takes up 5t of cargo space",
		"EQ_PASSENGER_BERTH",
		"Provides life support, entertainment and comfort for a single passenger.",
		{
			available_to_all = true;
			available_to_NPCs = false;
			condition_script = "oolite-conditions.js";
			requires_cargo_space = 5;
			damage_probability = 0;
		}
	),
	( /* Passenger Compartment Removal */
		1, 1000, "Remove Passenger Berth - reclaims 5t of cargo space",
		"EQ_PASSENGER_BERTH_REMOVAL",
		"Removes a passenger berth.",
		{
			available_to_all = true;
			available_to_NPCs = false;
			condition_script = "oolite-conditions.js";
			requires_free_passenger_berth = true;
		}
	),
	( /* Missile Removal */
		1, 200, "Unmount and sell all pylon mounted weapons",
		"EQ_MISSILE_REMOVAL",
		"Unmounts, safes, and re-sells at full market value all missiles and mines currently mounted on your craft.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
			requires_mounted_pylon = true;
		}
	),
	( /* ecm hardened missile */
		9, 3500, "ECM Hardened Missile",
		"EQ_HARDENED_MISSILE",
		"Faulcon de Lacy HMX5 homing missile - hardened against ECM.",
		{
			condition_script = "oolite-conditions.js";
			available_to_all = true;
			/* NOTE: for reasons of backwards compatibility, this defaults to true for equipment whose key ends with MISSILE or MINE. */
			requires_empty_pylon = true;
			/* NOTE: this is always zero for pylon-mounted equipment */
			damage_probability = 0;
		}
	),
	(
		10, 6000, "Witchdrive Fuel Injectors",
		"EQ_FUEL_INJECTION",
		"A convertor added to your in-system drive that can inject unused witch-drive fuel into your exhaust, massively increasing your speed.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		11, 4500, "Scanner Targeting Enhancement",
		"EQ_SCANNER_SHOW_MISSILE_TARGET",
		"Adds a visible indicator, range and legal status display around the target currently locked into your targeting computer.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		5, 3250, "Multi-Targeting System",
		"EQ_MULTI_TARGET",
		"Per-missile target memory, maintains multiple target locks.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		7, 6500, "Advanced Space Compass",
		"EQ_ADVANCED_COMPASS",
		"A Tyley-Feynman GW-99 astro-navigation compass with user-selectable target modes.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	(
		6, 22500, "Advanced Navigational Array",
		"EQ_ADVANCED_NAVIGATIONAL_ARRAY",
		"Navigation Computer software upgrade, improving the functionality of the Galactic Chart and enabling efficient route planning.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	(
		8, 12500, "Target System Memory Expansion",
		"EQ_TARGET_MEMORY",
		"A sixteen core target memory matrix. Allows selection of previous target locks.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	(
		11, 15000, "Integrated Targeting System",
		"EQ_INTEGRATED_TARGETING_SYSTEM",
		"Integrates your target system memory expansion with your scanner targeting enhancement to provide visual tracking of secondary targets.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";				
			requires_equipment = ("EQ_TARGET_MEMORY", "EQ_SCANNER_SHOW_MISSILE_TARGET");
		}
	),

	/* NPC equipment, incompatible with player ship. Not buyable because of its TL. */
	(
		100, 150000, "Thargoid Laser",
		"EQ_WEAPON_THARGOID_LASER",
		"Captured Thargoid weapon, self-aiming.",
		{
			available_to_player = false;
		}
	),
	(
		6, 25000, "Quirium Cascade Mine",
		"EQ_QC_MINE",
		"Tyley-Feynman Quirium cascade mine. Mounts in place of a missile, but deploys to the rear of your craft. Capable of massive destruction and triggering chain reactions in the witchdrives of ships caught in its blast range.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
			/* NOTE: for reasons of backwards compatibility, this defaults to true for equipment whose key ends with MISSILE or MINE. */
			requires_empty_pylon = true;
			/* NOTE: this is always zero for pylon-mounted equipment */
			damage_probability = 0;
		}
	),
	(
		10, 147500, "Shield Boosters",
		"EQ_SHIELD_BOOSTER",
		"Shield boosting technology dramatically increases the capability of standard defensive shields.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	(
		13, 475500, "Military Shield Enhancement",
		"EQ_NAVAL_SHIELD_BOOSTER",
		"Military technology, used in conjunction with ordinary shields and shield boosting technology, further increases the capability of standard defensive shields.",
		{
			condition_script = "oolite-conditions.js";
		}
	),
	/* next item was a test item */
	(
		2, 2000, "Twin Plasma Cannon",
		"EQ_WEAPON_TWIN_PLASMA_CANNON",
		"Basic cannon delivering charged plasma bursts at sublight speed."
	),
	/* new items */
	(
		4, 15000, "External Heat Shielding",
		"EQ_HEAT_SHIELD",
		"Additional ceramid-fibre blanketing and tiles, no armour value but provides extra solar insulation.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	(
		9, 23950, "Wormhole Scanner",
		"EQ_WORMHOLE_SCANNER",
		"The Mössbauer-Krantz Works wormhole scanner integrates into your existing targeting system. It analyzes the residual energy of a wormhole and, in combination with your Galactic Map software, calculates the most likely target system.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	/* renovation price is a dummy value - calculated to be 1% of the value of a fully-maintained ship of that type and equipment */
	(
		6, 1000, "Maintenance Overhaul",
		"EQ_RENOVATION",
		"Covers dry docking fees, cleaning and replating of damaged hull sections, shield and scoop system de-ionization, systems tune-up, repainting and detailed valeting.",
		{
			available_to_all = true;
			condition_script = "oolite-conditions.js";
		}
	),
	/* next item has a TL too high to be available */
	(
		99, 1500000, "Military Anti-Scanner Countermeasures (MASC'M)",
		"EQ_MILITARY_JAMMER",
		"Developed from experimental cloaking prototypes, this jamming device stops enemy ships from scanning your craft."
	),
	/* next item has a TL too high to be available */
	(
		99, 250000, "Military Scanner Filtering",
		"EQ_MILITARY_SCANNER_FILTER",
		"Filters out the jamming signals from MASC'M devices."
	),
	/* NPC equipment, incompatible with player ship. Not buyable because of its TL. */
	(
		100, 147500, "Shield Enhancers",
		"EQ_SHIELD_ENHANCER",
		"Shield enhancing technology dramatically increases the capability of standard defensive shields.",
		{
			available_to_player = false;
		}
	),
	/* condition script blocks this one from appearing normally */
	(
		100, 500000, "Tutorial Controls",
		"EQ_OOLITE_TUTORIAL_CONTROLS",
		"Tutorial Controls.",
		{
			condition_script = "oolite-conditions.js";
			script = "oolite-tutorial-equipment.js";
			available_to_all = true;
			visible = false;	// Hidden on status screen.
			damage_probability = 0;
		}
	)

)
