{
	/* these are drawn, in order, after the legends */
	dials =
	(
		{ /* Targeting enhancement */
			"equipment_required" = "EQ_SCANNER_SHOW_MISSILE_TARGET";
			selector = "drawTargetReticle:";
		},
		{	// Waypoint display
			equipment_required 	= "EQ_ADVANCED_COMPASS";
			selector		= "drawWaypoints:";
		},
		{ /* station aegis, uses Images/aegis.png as indicator */
			alpha = 0.8;
			selector = "drawAegis:";
			x = -116;
			y = -228;
			width = 16;
			height = 16;
		},
		{	// fuel scoop status
			alpha		= 0.75;
			width		= 12;
			height		= 12;
			selector	= "drawScoopStatus:";
			x			= -100;
			y			= 10;
			y_origin	= -1;
		},
		{ /* scanner */
			alpha = 1;
			selector = "drawScanner:";
			x = 0;
			y = -206;
			height = 60;
			width = 240;
		},
		{ /* scanner zoom indicator, uses Images/zoom.png to provide 5 levels */
			alpha = 1;
			selector = "drawScannerZoomIndicator:";
			x = 108;
			y = -231;
		},
		{ /* missile display, x and y give the location, the x-spacing is given by spacing, the size defines the icon size */
			height = 9;
			selector = "drawMissileDisplay:";
			spacing = 12;
			width = 9;
			x = -112;
			y = -164;
		},
		{	// stick sensitivity indicator
			alpha		= 1.0;
			selector	= "drawStickSensitivityIndicator:";
			x		= -116;
			y		= -184;
			height		= 8;
			width		= 8;
		},
		{ /* status indicator light, x and y give the location, the size defines the icon size */
			height = 8;
			selector = "drawStatusLight:";
			width = 8;
			x = -106;
			y = -184;
		},
		{ /* ship's clock, x and y give the location, the size defines the character size */
			height = 10;
			selector = "drawClock:";
			width = 10;
			x = -194;
			y = -170;
		},
		{	// primed equipment, x and y give the location, the size defines the character size, n_bars is the number of items to show (default 1)
			selector	= "drawPrimedEquipment:";
			x = -194;
			y = -160;
			width		= 10;
			height		= 10;
		},
		{	// weapons systems offline text, x and y give the location, the size defines the character size
			height		= 10;
			selector	= "drawWeaponsOfflineText:";
			width		= 10;
			x		= -51;
			y		= -51;
		},
		{ /* speed bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 5;
			selector = "drawSpeedBar:";
			width = 42;
			x = 68;
			y = -166;
		},
		{ /* compass, uses Images/compass.png as background and Images/reddot.png and Images/greendot.png */
			alpha = 1;
			selector = "drawCompass:";
			x = 108;
			y = -172;
		},
		{	// compass beacon/waypoint ID, x and y give the location, the size defines the character size
			equipment_required 	= "EQ_ADVANCED_COMPASS";
			selector		= "drawASCTarget:";
			height		= 10;
			width		= 10;
			x		= 124;
			y		= -166;
		},
		{ /* roll bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 6;
			selector = "drawRollBar:";
			width = 48;
			x = -152;
			y = -175;
		},
		{ /* pitch bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 6;
			selector = "drawPitchBar:";
			width = 48;
			x = -152;
			y = -187;
		},
		{ /* just draws a surround 2 units around the selected size, you could also use drawGreenSurround: */
			height = 40;
			selector = "drawYellowSurround:";
			width = 48;
			x = -152;
			y = -216;
		},
		{ /* fuel bar */
			height = 8;
			selector = "drawFuelBar:";
			width = 48;
			x = -152;
			y = -201;
		},
		{ /* cabin temperature bar */
			height = 8;
			selector = "drawCabinTempBar:";
			width = 48;
			x = -152;
			y = -211;
		},
		{ /* weapon temperature bar */
			height = 8;
			selector = "drawWeaponTempBar:";
			width = 48;
			x = -152;
			y = -221;
		},
		{ /* altitude bar */
			height = 8;
			selector = "drawAltitudeBar:";
			width = 48;
			x = -152;
			y = -231;
		},
		{ /* forward shield bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 8;
			selector = "drawForwardShieldBar:";
			width = 48;
			x = 152;
			y = -172;
		},
		{ /* aft shield bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 8;
			selector = "drawAftShieldBar:";
			width = 48;
			x = 152;
			y = -186;
		},
		{ /* energy gauge, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 40;
			selector = "drawEnergyGauge:";
			width = 48;
			x = 152;
			y = -216;
			labelled = true;
		},
		{ /* fps counter, x and y give the location, the size defines the character size */
			height = 18;
			selector = "drawFPSInfoCounter:";
			width = 18;
			x = -300;
			y = 220;
		},
	);
	/* these are drawn, in order, before the dials, add any other images you want here */
	legends =
	(
		{
			text = "SPD";
			x = 78;
			y = -178;
			height = 8;
			width = 8;
		},
		{
			text = "Roll";
			x = -192;
			y = -180;
			height = 8;
			width = 8;
		},
		{
			text = "Pitch";
			x = -196;
			y = -192;
			height = 8;
			width = 8;
		},
		{
			text = "FUEL";
			x = -197;
			y = -206;
			height = 8;
			width = 8;
		},
		{
			text = "CT";
			x = -189;
			y = -216;
			height = 8;
			width = 8;
		},
		{
			text = "LT";
			x = -188;
			y = -226;
			height = 8;
			width = 8;
		},
		{
			text = "ALT";
			x = -193;
			y = -236;
			height = 8;
			width = 8;
		},
		{
			text = "Fwd";
			x = 178;
			y = -176;
			height = 8;
			width = 8;
		},
		{
			text = "Aft";
			x = 178;
			y = -190;
			height = 8;
			width = 8;
		}
	);
	multi_function_displays = (
		{
			width = 174;
			height = 116;
			x = -100;
			y = -62;
			y_origin = 1;
		}
	);
	message_gui = {
		width = 216;
		height = 112;
		x = 0;
		y = -104;
		row_height = 14;
	};
	comm_log_gui = {
		alpha = "0.75";
		width = 180;
		height = 120;
		x = 100;
		y = -62;
		y_origin = 1;
		row_height = 10;
		permanent = no;
		automatic = yes;
		background_rgba = "0.0 0.05 0.45 0.5";		
	};
	overall_alpha	= 0.75;
	reticle_target_sensitive = no;
	cloak_indicator_on_status_light = yes;
}
