{
	/* these are drawn, in order, after the legends */
	dials =
	(
		{ /* Targeting enhancement */
			"equipment_required" = "EQ_SCANNER_SHOW_MISSILE_TARGET";
			selector = "drawTargetReticle:";
		},
		{ /* station aegis, uses Images/aegis.png as indicator */
			alpha = 0.8;
			selector = "drawAegis:";
			x = -116;
			y = -228;
			width = 16;
			height = 16;
		},
		{ /* scanner */
			alpha = 1;
			selector = "drawScanner:";
			x = 0;
			y = -206;
			height = 60;
			width = 240;
		},
		{ /* scanner zoom indicator, uses Images/zoom.png to provide 5 levels */
			alpha = 1;
			selector = "drawScannerZoomIndicator:";
			x = 108;
			y = -231;
		},
		{ /* missile display, x and y give the location, the x-spacing is given by spacing, the size defines the icon size */
			height = 9;
			selector = "drawMissileDisplay:";
			spacing = 12;
			width = 9;
			x = -112;
			y = -164;
		},
		{ /* status indicator light, x and y give the location, the size defines the icon size */
			height = 8;
			selector = "drawStatusLight:";
			width = 8;
			x = -116;
			y = -184;
		},
		{ /* ship's clock, x and y give the location, the size defines the character size */
			height = 12;
			selector = "drawClock:";
			width = 12;
			x = -48;
			y = -172;
		},
		{	// weapons systems offline text, x and y give the location, the size defines the character size
			height		= 8;
			selector	= "drawWeaponsOfflineText:";
			width		= 8;
			x		= -200;
			y		= -170;
		},
		{ /* speed bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 5;
			selector = "drawSpeedBar:";
			width = 42;
			x = 68;
			y = -166;
		},
		{ /* compass, uses Images/compass.png as background and Images/reddot.png and Images/greendot.png */
			alpha = 1;
			selector = "drawCompass:";
			x = 108;
			y = -172;
		},
		{ /* roll bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 6;
			selector = "drawRollBar:";
			width = 48;
			x = -152;
			y = -175;
		},
		{ /* pitch bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 6;
			selector = "drawPitchBar:";
			width = 48;
			x = -152;
			y = -187;
		},
		{ /* just draws a surround 2 units around the selected size, you could also use drawGreenSurround: */
			height = 40;
			selector = "drawYellowSurround:";
			width = 48;
			x = -152;
			y = -216;
		},
		{ /* fuel bar */
			height = 8;
			selector = "drawFuelBar:";
			width = 48;
			x = -152;
			y = -201;
		},
		{ /* cabin temperature bar */
			height = 8;
			selector = "drawCabinTempBar:";
			width = 48;
			x = -152;
			y = -211;
		},
		{ /* weapon temperature bar */
			height = 8;
			selector = "drawWeaponTempBar:";
			width = 48;
			x = -152;
			y = -221;
		},
		{ /* altitude bar */
			height = 8;
			selector = "drawAltitudeBar:";
			width = 48;
			x = -152;
			y = -231;
		},
		{ /* forward shield bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 8;
			selector = "drawForwardShieldBar:";
			width = 48;
			x = 152;
			y = -172;
		},
		{ /* aft shield bar, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 8;
			selector = "drawAftShieldBar:";
			width = 48;
			x = 152;
			y = -186;
		},
		{ /* energy gauge, can draw a surround 2 units out from the dial size specified */
			draw_surround = true;
			height = 40;
			selector = "drawEnergyGauge:";
			width = 48;
			x = 152;
			y = -216;
			labelled = true;
		},
		{ /* fps counter, x and y give the location, the size defines the character size */
			height = 18;
			selector = "drawFPSInfoCounter:";
			width = 18;
			x = -300;
			y = 220;
		},
	);
	/* these are drawn, in order, before the dials, add any other images you want here */
	legends =
	(
		{
			text = "SPD";
			x = 78;
			y = -178;
			height = 8;
			width = 8;
		},
		{
			text = "Roll";
			x = -192;
			y = -180;
			height = 8;
			width = 8;
		},
		{
			text = "Pitch";
			x = -196;
			y = -192;
			height = 8;
			width = 8;
		},
		{
			text = "FUEL";
			x = -197;
			y = -206;
			height = 8;
			width = 8;
		},
		{
			text = "CT";
			x = -189;
			y = -216;
			height = 8;
			width = 8;
		},
		{
			text = "LT";
			x = -188;
			y = -226;
			height = 8;
			width = 8;
		},
		{
			text = "ALT";
			x = -193;
			y = -236;
			height = 8;
			width = 8;
		},
		{
			text = "Fwd";
			x = 178;
			y = -176;
			height = 8;
			width = 8;
		},
		{
			text = "Aft";
			x = 178;
			y = -190;
			height = 8;
			width = 8;
		}
	);
	message_gui = {};	// resets the default settings
	comm_log_gui = {};	// resets the default settings
	overall_alpha	= 0.75;
	reticle_target_sensitive = no;
	cloak_indicator_on_status_light = yes;
}
