{
	crosshair_scale		= 32.0;
	crosshair_width		= 1.5;
	crosshair_color		= "greenColor";
	dials			= //these are drawn, in order, after the legends
	(
		{	// Targeting enhancement
			equipment_required 	= "EQ_SCANNER_SHOW_MISSILE_TARGET";
			selector		= "drawTargetReticle:";
		},
		{	// scanner
			alpha		= 0.75;
			selector	= "drawScanner:";
			x		= 0;
			y		= -180;
			height		= 72.0;
			width		= 288.0;
			rgb_color	= (1.0, 0.0, 0.0);
		},
		{	// scanner zoom indicator
			alpha		= 1.0;
			selector	= "drawScannerZoomIndicator:";
			x		= 108;
			y		= -216;
		},
		{	// compass
			alpha		= 1.0;
			selector	= "drawCompass:";
			x		= 132;
			y		= -216;
		},
		{	// station aegis
			alpha		= 1.0;
			selector	= "drawAegis:";
			x		= -132;
			y		= -216;
		},
		{	// fuel scoop status
			alpha		= 0.75;
			selector	= "drawScoopStatus:";
			x		= -132;
			y		= -152;
		},
		{	// speed bar, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 8;
			selector	= "drawSpeedBar:";
			width		= 80;
			x		= 200;
			y		= -145;
		},
		{	// roll bar, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 8;
			selector	= "drawRollBar:";
			width		= 80;
			x		= 200;
			y		= -160;
		},
		{	// pitch bar, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 8;
			selector	= "drawPitchBar:";
			width		= 80;
			x		= 200;
			y		= -170;
		},
		//{	// yaw bar, can draw a surround 2 units out from the dial size specified
		//	// this is disabled by default, uncomment as required to enable
		//	draw_surround	= yes;
		//	height		= 8;
		//	selector	= "drawYawBar:";
		//	width		= 80;
		//	x		= 200;
		//	y		= -130;
		//},
		{	// energy gauge, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 48;
			selector	= "drawEnergyGauge:";
			width		= 80;
			x		= 200;
			y		= -205;
			labelled	= yes;
		},
		{	// forward shield bar, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 8;
			selector	= "drawForwardShieldBar:";
			width		= 80;
			x		= -200;
			y		= -146;
		},
		{	// aft shield bar, can draw a surround 2 units out from the dial size specified
			draw_surround	= yes;
			height		= 8;
			selector	= "drawAftShieldBar:";
			width		= 80;
			x		= -200;
			y		= -162;
		},
		{	// just draws a surround 2 units around the selected size, you could also use drawGreenSurround:
			height		= 40;
			selector	= "drawYellowSurround:";
			width		= 80;
			x		= -200;
			y		= -194;
		},
		{	// fuel bar
			height		= 8;
			selector	= "drawFuelBar:";
			width		= 80;
			x		= -200;
			y		= -179;
		},
		{	// cabin temperature bar
			height		= 8;
			selector	= "drawCabinTempBar:";
			width		= 80;
			x		= -200;
			y		= -189;
		},
		{	// weapon temperature bar
			height		= 8;
			selector	= "drawWeaponTempBar:";
			width		= 80;
			x		= -200;
			y		= -199;
		},
		{	// altitude bar
			height		= 8;
			selector	= "drawAltitudeBar:";
			width		= 80;
			x		= -200;
			y		= -209;
		},
		{	// missile display, x and y give the location, the x-spacing is given by spacing, the size defines the icon size
			height		= 12;
			selector	= "drawMissileDisplay:";
			spacing		= 16;
			width		= 12;
			x		= -228;
			y		= -224;
		},
		{	// status indicator light, x and y give the location, the size defines the icon size
			height		= 8;
			selector	= "drawStatusLight:";
			width		= 8;
			x		= -108;
			y		= -216;
		},
		{	// ship's clock, x and y give the location, the size defines the character size
			height		= 12;
			selector	= "drawClock:";
			width		= 12;
			x		= -48;
			y		= -234;
		},
		{	// fps counter, x and y give the location, the size defines the character size
			height		= 18;
			selector	= "drawFPSInfoCounter:";
			width		= 18;
			x		= -300;
			y		= 220;
		}
	);
	
	legends		= // these are drawn, in order, before the dials, add any other images you want here
	(
		{	// LHS
			text		= "FWD";
			x		= -264;
			y		= -158;
			height		= 20;
			width		= 10;
		},
		{	text		= "AFT";
			x		= -262;
			y		= -174;
			height		= 20;
			width		= 10;
		},
		{
			text		= "FUEL";
			x		= -264;
			y		= -188;
			height		= 14;
			width		= 9;
		},
		{
			text		= "CT";
			x		= -255;
			y		= -198;
			height		= 14;
			width		= 9;
		},
		{
			text		= "LT";
			x		= -254;
			y		= -208;
			height		= 14;
			width		= 9;
		},
		{
			text		= "ALT";
			x		= -260;
			y		= -218;
			height		= 14;
			width		= 9;
		},
		{
			text		= "MISS";
			x		= -266;
			y		= -236;
			height		= 16;
			width		= 10;
		},
		{	// RHS
			text		= "SPD";
			x		= 241;
			y		= -158;
			height		= 20;
			width		= 10;
		},
		{
			text		= "ROLL";
			x		= 241;
			y		= -168;
			height		= 12;
			width		= 9;
		},
		//{	// yaw bar legend, disabled by default
		//	// uncomment as required to enable
		//	text		= "YAW";
		//	x		= 241;
		//	y		= -138;
		//	height		= 12;
		//	width		= 9;
		//},
		{
			text		= "PITCH";
			x		= 241;
			y		= -178;
			height		= 12;
			width		= 9;
		}
	);
	
	overall_alpha	= 0.75;
	reticle_target_sensitive = no;
	cloak_indicator_on_status_light = no;
}
