{
	key_roll_left				= 253;		// left arrow
	key_roll_right				= 252;		// right arrow
	key_pitch_forward			= 255;		// up arrow
	key_pitch_back				= 254;		// down arrow
	key_yaw_left				= ",";
	key_yaw_right				= ".";

	key_view_forward			= "1";
	key_view_aft				= "2";
	key_view_port				= "3";
	key_view_starboard			= "4";

	key_gui_screen_status		= "5";
	key_gui_chart_screens		= "6";
	key_gui_system_data			= "7";
	key_gui_market				= "8";

	key_gui_arrow_left			= 253;
	key_gui_arrow_right			= 252;
	key_gui_arrow_up			= 255;
	key_gui_arrow_down			= 254;

/* // alternative settings to use numpad instead
	key_gui_arrow_left			= 314; //numpad 4
	key_gui_arrow_right			= 316; //numpad 6
	key_gui_arrow_up			= 318; //numpad 8
	key_gui_arrow_down			= 312; //numpad 2
*/

	key_increase_speed			= "w";
	key_decrease_speed			= "s";
	key_inject_fuel				= "i";

	key_fire_lasers				= "a";
	key_weapons_online_toggle	= "_";
	key_launch_missile			= "m";
	key_next_missile			= "y";
	key_ecm						= "e";

	key_prime_equipment			= "N";
	key_activate_equipment		= "n";
	key_mode_equipment			= "b";
	key_fastactivate_equipment_a = "0";
	key_fastactivate_equipment_b = "\t";	// tab

	key_target_incoming_missile	= "T";
	key_target_missile			= "t";
	key_untarget_missile		= "u";
	key_ident_system			= "r";

	key_scanner_zoom			= "z";
	key_scanner_unzoom			= "Z";

	key_launch_escapepod		= 27;		// escape
	// now primable equipment; old key works for compatibility
	// key_energy_bomb				= "\t";		// tab

	key_galactic_hyperspace		= "g";
	key_hyperspace				= "h";
	key_jumpdrive				= "j";

	key_dump_cargo				= "D";
	key_rotate_cargo			= "R";

	key_autopilot				= "c";
	key_autodock				= "C";
	key_docking_clearance_request	= "L";

	key_snapshot				= "*";
	key_docking_music			= "s";

	key_advanced_nav_array		= "^";
	key_map_home				= 303;		// Home
	key_map_info				= "i";

	key_pausebutton				= "p";
	key_show_fps				= "F";
	key_mouse_control			= "M";
	key_hud_toggle				= "o";

	key_comms_log				= "`";
	key_prev_compass_mode		= "|";
	key_next_compass_mode		= "\\";

	// now primable equipment; old key works for compatibility
	// key_cloaking_device			= "0";

	// in 1.76 switches between contracts and long range chart
	// in 1.77 to 1.78 does nothing
	// in 1.79 or later, cycles long range chart highlight mode
	// key_contract_info			= "?"; // old name works for compatibility
	key_chart_highlight			= "?";

	key_cycle_mfd				= ";";
	key_switch_mfd				= ":";

	key_next_target				= "+";
	key_previous_target			= "-";

	key_custom_view				= "v";

	key_dump_target_state		= "H";
}
