{
    key_autodock = <*I68>;
    key_autopilot = <*I99>;
    key_comms_log = <*I96>;
    key_decrease_speed = <*I115>;
    key_docking_music = <*I115>;
    key_dump_cargo = <*I100>;
    key_ecm = <*I101>;
    key_emergency_hyperdrive = <*I72>;
    key_energy_bomb = <*I9>;
    key_fire_lasers = <*I97>;
    key_galactic_hyperspace = <*I103>;
    key_hyperspace = <*I104>;
    key_ident_system = <*I114>;
    key_increase_speed = <*I119>;
    key_inject_fuel = <*I105>;
    key_jumpdrive = <*I106>;
    key_launch_escapepod = <*I27>;
    key_launch_missile = <*I109>;
    key_map_dump = <*I33>;
    key_map_home = <*I302>;
    key_next_compass_mode = <*I92>;
    key_next_missile = <*I121>;
    key_pitch_back = <*I254>;
    key_pitch_forward = <*I255>;
    key_roll_left = <*I253>;
    key_roll_right = <*I252>;
    key_scanner_zoom = <*I122>;
    key_snapshot = <*I42>;
    key_target_missile = <*I116>;
    key_untarget_missile = <*I117>;
}