{
	// this file contains Windows keyboard scancodes with the equivalent unicode key value for various keyboard layouts
	// each section in this file must match to a section in the keyconfig2.plist file
	// to switch to a different keyboard layout, edit the .GNUstepDefaults file and add/change 
	// 		"keyboard-code" = "{preferredCode}";
	"default" = {
		description = "Default (US)";
		mapping_normal = {
			"41" = 96; // ` key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 45; // - key
			"13" = 61; // = key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 91; // [ key
			"27" = 93; // ] key
			"43" = 92; // \ key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 59; // ; key
			"40" = 39; // ' key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 47; // / key
		};
		mapping_shifted = {
			"41" = 126; // ~ key
			"2" = 33; // ! key
			"3" = 64; // @ key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 94; // ^ key
			"8" = 38; // & key
			"9" = 42; // * key
			"10" = 40; // ( key
			"11" = 41; // ) key
			"12" = 95; // _ key
			"13" = 43; // + key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 123; // { key
			"27" = 125; // } key
			"43" = 124; // | key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 58; // : key
			"40" = 34; // " key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 60; // < key
			"52" = 62; // > key
			"53" = 63; // ? key
		};
	};
	"gbr" = {
		description = "UK";
		mapping_normal = {
			"41" = 96; // ` key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 45; // - key
			"13" = 61; // = key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 91; // [ key
			"27" = 93; // ] key
			"43" = 35; // # key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 59; // ; key
			"40" = 39; // ' key
			"86" = 92; // \ key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 47; // / key
		};
		mapping_shifted = {
			"41" = 172; // ¬ key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 163; // £ key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 94; // ^ key
			"8" = 38; // & key
			"9" = 42; // * key
			"10" = 40; // ( key
			"11" = 41; // ) key
			"12" = 95; // _ key
			"13" = 43; // + key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 123; // { key
			"27" = 125; // } key
			"43" = 126; // ~ key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 58; // : key
			"40" = 64; // @ key
			"86" = 124; // | key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 60; // < key
			"52" = 62; // > key
			"53" = 63; // ? key
		};
	};
	"deu" = {
		description = "German";
		mapping_normal = {
			"41" = 94; // ^ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 223; // ß key
			"13" = 180; // ´ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 122; // z key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 252; // ü key
			"27" = 43; // + key
			"43" = 35; // # key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 246; // ö key
			"40" = 228; // ä key
			"86" = 60; // < key
			"44" = 121; // y key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 176; // ° key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 167; // § key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 96; // ` key
			"2" = 33; // ! key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 90; // Z key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 220; // Ü key
			"27" = 42; // * key
			"43" = 39; // ' key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 214; // Ö key
			"40" = 196; // Ä key
			"86" = 62; // > key
			"44" = 89; // Y key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"ita" = {
		description = "Italian";
		mapping_normal = {
			"41" = 92; // \ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 236; // ì key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 232; // è key
			"27" = 43; // + key
			"43" = 249; // ù key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 242; // ò key
			"40" = 224; // à key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 124; // | key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 163; // £ key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 94; // ^ key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 233; // é key
			"27" = 42; // * key
			"43" = 167; // § key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 231; // ç key
			"40" = 176; // ° key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
			"86" = 62; // > key
		};
	};
	"nor" = {
		description = "Norwegian";
		mapping_normal = {
			"41" = 124; // | key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 43; // + key
			"13" = 92; // \ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 229; // å key
			"27" = 168; // ¨ key
			"43" = 39; // ' key
			"43" = 39; // ' key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 248; // ø key
			"40" = 230; // æ key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 167; // § key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 164; // ¤ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 96; // ` key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 197; // Å key
			"27" = 94; // ^ key
			"43" = 42; // * key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 216; // Ø key
			"40" = 198; // Æ key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"fra" = {
		description = "French (AZERTY)";
		mapping_normal = {
			"41" = 178; // ² key
			"2" = 38; // & key
			"3" = 233; // é key
			"4" = 34; // " key
			"5" = 39; // ' key
			"6" = 40; // ( key
			"7" = 45; // - key
			"8" = 232; // è key
			"9" = 95; // _ key
			"10" = 231; // ç key
			"11" = 224; // à key
			"12" = 41; // ) key
			"13" = 61; // = key
			"16" = 97; // a key
			"17" = 122; // z key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 94; // ^ key
			"27" = 36; // $ key
			"43" = 42; // * key
			"30" = 113; // q key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 109; // m key
			"40" = 249; // ù key
			"86" = 60; // < key
			"44" = 119; // w key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 44; // , key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 33; // ! key
		};
		mapping_shifted = {
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 176; // ° key
			"13" = 43; // + key
			"16" = 65; // A key
			"17" = 90; // Z key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 168; // ¨ key
			"27" = 163; // £ key
			"30" = 81; // Q key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 77; // M key
			"40" = 37; // % key
			"86" = 62; // > key
			"44" = 87; // W key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 63; // ? key
			"51" = 46; // . key
			"52" = 47; // / key
			"53" = 167; // § key
		};
	};
	"dnk" = {
		description = "Danish";
		mapping_normal = {
			"41" = 189; // ½ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 43; // + key
			"13" = 180; // ´ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 229; // å key
			"27" = 168; // ¨ key
			"43" = 39; // ' key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 230; // æ key
			"40" = 248; // ø key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 167; // § key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 164; // ¤ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 96; // ` key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 197; // Å key
			"27" = 94; // ^ key
			"43" = 42; // * key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 198; // Æ key
			"40" = 216; // Ø key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"nld" = {
		description = "Dutch";
		mapping_normal = {
			"41" = 64; // @ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 47; // / key
			"13" = 176; // ° key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 168; // ¨ key
			"27" = 42; // * key
			"43" = 60; // < key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 43; // + key
			"40" = 180; // ´ key
			"86" = 93; // ] key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 167; // § key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 95; // _ key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 39; // ' key
			"12" = 63; // ? key
			"13" = 126; // ~ key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 94; // ^ key
			"27" = 124; // | key
			"43" = 62; // > key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 177; // ± key
			"40" = 96; // ` key
			"86" = 91; // [ key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 61; // = key
		};
	};
	"grc_220" = {
		description = "Greek (220) Latin";
		mapping_normal = {
			"41" = 92; // \ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 93; // ] key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 43; // + key
			"27" = 125; // } key
			"43" = 35; // # key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 180; // ΄ key (this isn't unicode 180, but it's close enough for us)
			"40" = 168; // ¨ key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 124; // | key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 91; // [ key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 42; // * key
			"27" = 123; // { key
			"43" = 64; // @ key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 168; // ¨ key
			"40" = 836; // ΅ key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"grc_319" = {
		description = "Greek (319) Latin";
		mapping_normal = {
			"41" = 92; // \ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 43; // + key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 91; // [ key
			"27" = 93; // ] key
			"43" = 96; // ` key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 180; // ´ key
			"40" = 94; // ^ key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 124; // | key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 42; // * key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 123; // { key
			"27" = 125; // } key
			"43" = 64; // @ key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 168; // ¨ key
			"40" = 126; // ~ key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"esp" = {
		description = "Spanish";
		mapping_normal = {
			"41" = 186; // º key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 161; // ¡ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 96; // ` key
			"27" = 43; // + key
			"43" = 231; // ç key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 241; // ñ key
			"40" = 168; // ¨ key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 170; // ª key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 183; // · key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 191; // ¿ key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 94; // ^ key
			"27" = 42; // * key
			"43" = 199; // Ç key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 209; // Ñ key
			"40" = 168; // ¨ key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"esp_latin" = {
		description = "Spanish (Latin American)";
		mapping_normal = {
			"41" = 124; // | key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 191; // ¿ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 180; // ´ key
			"27" = 43; // + key
			"43" = 125; // } key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 241; // ñ key
			"40" = 123; // { key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
		};
		mapping_shifted = {
			"41" = 176; // ° key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 161; // ¡ key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 168; // ¨ key
			"27" = 42; // * key
			"43" = 93; // ] key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 209; // Ñ key
			"40" = 91; // [ key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"swe" = {
		description = "Swedish";
		mapping_normal = {
			"41" = 167; // § key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 43; // + key
			"13" = 180; // ´ key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 229; // å key
			"27" = 168; // ¨ key
			"43" = 39; // ' key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 246; // ö key
			"40" = 228; // ä key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 189; // ½ key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 164; // ¤ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 96; // ` key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 197; // Å key
			"27" = 94; // ^ key
			"43" = 42; // * key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 214; // Ö key
			"40" = 196; // Ä key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"cafr" = {
		description = "Canadian (French)";
		mapping_normal = {
			"41" = 35; // # key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 45; // - key
			"13" = 61; // = key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 94; // ^ key
			"27" = 184; // ¸ key
			"43" = 60; // < key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 59; // ; key
			"40" = 96; // ` key
			"86" = 171; // « key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 233; // é key
		};
		mapping_shifted = {
			"41" = 124; // | key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 47; // / key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 63; // ? key
			"8" = 38; // & key
			"9" = 42; // * key
			"10" = 40; // ( key
			"11" = 41; // ) key
			"12" = 95; // _ key
			"13" = 43; // + key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 94; // ^ key
			"27" = 168; // ¨ key
			"43" = 62; // > key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 58; // : key
			"40" = 96; // ` key
			"86" = 187; // » key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 39; // ' key
			"52" = 46; // . key
			"53" = 201; // É key
		};
	};
	"por" = {
		description = "Portuguese";
		mapping_normal = {
			"41" = 92; // \ key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 39; // ' key
			"13" = 171; // « key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 43; // + key
			"27" = 180; // ´ key
			"43" = 94; // ^ key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 231; // ç key
			"40" = 186; // º key
			"86" = 60; // < key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 45; // - key
		};
		mapping_shifted = {
			"41" = 124; // | key
			"2" = 33; // ! key
			"3" = 34; // " key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 38; // & key
			"8" = 47; // / key
			"9" = 40; // ( key
			"10" = 41; // ) key
			"11" = 61; // = key
			"12" = 63; // ? key
			"13" = 187; // » key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 42; // * key
			"27" = 96; // ` key
			"43" = 94; // ^ key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 199; // Ç key
			"40" = 170; // ª key
			"86" = 62; // > key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 59; // ; key
			"52" = 58; // : key
			"53" = 95; // _ key
		};
	};
	"por_bra" = {
		description = "Portuguese (Brazil)";
		mapping_normal = {
			"41" = 39; // ' key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 45; // - key
			"13" = 61; // = key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 180; // ´ key
			"27" = 91; // [ key
			"43" = 93; // ] key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 231; // ç key
			"40" = 126; // ~ key
			"86" = 92; // \ key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 59; // ; key
		};
		mapping_shifted = {
			"41" = 34; // " key
			"2" = 33; // ! key
			"3" = 64; // @ key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 168; // ¨ key
			"8" = 38; // & key
			"9" = 42; // * key
			"10" = 40; // ( key
			"11" = 41; // ) key
			"12" = 95; // _ key
			"13" = 43; // + key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 96; // ` key
			"27" = 123; // { key
			"43" = 125; // } key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 199; // Ç key
			"40" = 94; // ^ key
			"86" = 124; // | key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 60; // < key
			"52" = 62; // > key
			"53" = 58; // : key
		};
	};
}