/*	Settings for shader system.
	
	While it is possible to override this in the usual fashion, it would not
	be a very good idea.
*/

{
	// Macros prepended to shader source code for ship entities.
	"ship-prefix-macros" =
	{
		"OO_USER_DEFINED_BINDINGS" = 1;
		"OO_TANGENT_ATTR" = 1;
	};


	// Material definition used for DAT files with no TEXTURES section (which specifies material names and texture co-ordinates).
	"no-textures-material" =
	{
		"diffuse_map" = "";
		"diffuse" = (0, 0, 0.4);
		"ambient" = (0, 0, 0.4);
		"emission" = (0.9, 0.9, 0.9);
		"specular" = (1.0, 0.8, 0.8);
		"shininess" = 1;
	};
}
