/*	Settings for shader system.
	
	While it is possible to override this in the usual fashion, it would not
	be a very good idea.
*/

{
	// Macros prepended to shader source code for ship entities.
	"ship-prefix-macros" =
	{
		IS_OOLITE = 1;
		OO_USER_DEFINED_BINDINGS = 1;
		OO_TANGENT_ATTR = 1;
	};


	// Material definition used for DAT files with no TEXTURES section (which specifies material names and texture co-ordinates).
	"no-textures-material" =
	{
		diffuse_map = "";
		diffuse_color = (0, 0, 0.4);
		ambient_color = (0, 0, 0.4);
		emission_color = (0.4, 0.1, 0.1);
		specular_color = (0.1, 1.0, 0.1);
		shininess = 4;
	};
	// NEW_PLANETS definitions	
	"planet-material" =
	{
		// Textures added dynamically.
		vertex_shader = "oolite-default-planet.vertex";
		fragment_shader = "oolite-default-planet.fragment";
		uniforms =
		{
			uDiffuseMap = { type = texture; value = 0; };
			uNormalMap = { type = texture; value = 1; };
		};
	};
	"planet-dynamic-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_NORMAL_AND_SPECULAR_MAP = "!OO_REDUCED_COMPLEXITY";
		OOSTD_CUBE_MAP = 0;
	};
	"moon-dynamic-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_NORMAL_AND_SPECULAR_MAP = "!OO_REDUCED_COMPLEXITY";
		OOSTD_CUBE_MAP = 0;
		OOSTD_HARSH_MISTRESS = 1;
	};
	"planet-customized-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_CUBE_MAP = 0;
	};
	"moon-customized-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_CUBE_MAP = 0;
		OOSTD_HARSH_MISTRESS = 1;
	};
	"planet-customized-cubemap-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_CUBE_MAP = 1;
	};
	"moon-customized-cubemap-macros" =
	{
		IS_OOLITE = 1;
		OOSTD_DIFFUSE_MAP = 1;
		OOSTD_CUBE_MAP = 1;
		OOSTD_HARSH_MISTRESS = 1;
	};
}
