{
	// Constrictor Hunt mission (oolite-constrictor-hunt-mission.js)
	
	"constrictor_hunt_title" = "Space Navy Mission";
	"constrictor_hunt_0_150" = "“The Constrictor was last seen at %J036, Commander.”";
	"constrictor_hunt_0_28" = "“Yep, an unusual new ship had a galactic hyperdrive fitted here, used it too.”";
	"constrictor_hunt_0_36" = "“A strange looking ship left here a while back. Looked bound for %J028.”";
	"constrictor_hunt_1_118" = "“You can tackle the vicious scoundrel if you like. He’s at %J193.”";
	"constrictor_hunt_1_193" = "“There’s a real deadly pirate out there.”";
	"constrictor_hunt_1_253" = "“This strange ship dehyped here from nowhere, sun skimmed and jumped. I hear it went to %J079.”";
	"constrictor_hunt_1_53" = "“Oh dear me yes. A frightful rogue with what I believe you people call a lead posterior shot up lots of beastly pirates and went to %J118.”";
	"constrictor_hunt_1_79" = "“Rogue ship went for me at %J053. My lasers didn’t even scratch its hull.”";
	"constrictor_hunt_1_A" = "“I hear a weird looking ship was seen at %J253.”";
	
	"constrictor_hunt_brief1" = "---INCOMING MESSAGE\n\nGreetings Commander,\n\nI am Captain Curruthers of Her Imperial Majesty’s Space Navy and I beg a moment of your valuable time. We would like you to do a little job for us.\nThe ship you see here is a new model, the Constrictor, equipped with a top secret new shield generator.\n\nUnfortunately it’s been stolen.\n";
	"constrictor_hunt_brief1a" = "It went missing from our ship yard on %J150 five months ago and was last seen at %J036. Your mission, should you decide to accept it, is to seek and destroy this ship. You are cautioned that only Military Lasers will get through the new shields and that the Constrictor is fitted with an E.C.M. System.\n\nGood Luck, Commander.\n\n---MESSAGE ENDS.";
	"constrictor_hunt_brief1b" = "It went missing from Xeer Shipyards five months ago and is believed to have jumped to this galaxy. Your mission, should you decide to accept it, is to seek and destroy this ship. You are cautioned that only Military Lasers will get through the new shields and that the Constrictor is fitted with an E.C.M. System.\n\nGood Luck, Commander.\n\n---MESSAGE ENDS.";
	"constrictor_hunt_info1a" = "Hunt for the Constrictor stolen from %J150.";
	"constrictor_hunt_info1b" = "Hunt for the Constrictor stolen from Xeer Shipyards.";
	"constrictor_hunt_debrief" = "---INCOMING MESSAGE\n\nCongratulations Commander!\n\nThere will always be a place for you in Her Imperial Majesty’s Space Navy.\n\nAnd maybe sooner than you think…\n\n---MESSAGE ENDS.";
	"constrictor_hunt_thief_captured" = "You captured the thief who stole the constrictor! Her Imperial Navy awards you a bonus of 1000 credits!\n";
	"constrictor_hunt_thief_captured2" = "You captured an empty escape pod. The thief who stole the constrictor is still on board and you left the ship intact! Her Imperial Navy gives you a second chance!\n";
	"constrictor_hunt_pilot_captured" = "You captured a pilot from a Constrictor! %I police awards you a bonus of 250 credits!\n";
	
	
	// Thargoid Plans mission (oolite-thargoid-plans-mission.js)
	
	"thargoid_plans_title" = "Space Navy Mission";
	"thargoid_plans_brief1" = "---INCOMING MESSAGE\n\nAttention Commander, I am Captain Fortesque of Her Imperial Majesty’s Space Navy.\n\nWe have need of your services again.\n\nIf you would be so good as to go to %J083 you will be briefed.\n\nIf successful, you will be rewarded.\n\n---MESSAGE ENDS.";
	"thargoid_plans_brief2" = "---INCOMING MESSAGE\n\nGood Day Commander.\n\nI am Agent Blake of Naval Intelligence.\nAs you know, the Navy have been keeping the Thargoids off your ass out in deep space for many years now.\nWell the situation has changed. Our boys are ready for a push right to the home system of those murderers.\n\nI have obtained the defence plans for their Hive Worlds. The beetles know we’ve got something but not what. If I transmit the plans to our base on %J036 they’ll intercept the transmission. I need a ship to make the run. You’re elected.\n\nThe plans are unipulse coded within this transmission. You will be paid.\n\nGood luck Commander.\n\n---MESSAGE ENDS.";
	"thargoid_plans_info1" = "Go to %J083 for a briefing.";
	"thargoid_plans_info2" = "Convey the secret plans to %J036.";
	"thargoid_plans_debrief" = "---INCOMING MESSAGE\n\nYou have served us well and we shall remember.\n\nWe did not expect the Thargoids to find out about you.\n\nFor the moment please accept this Navy Extra Energy Unit as payment.\n\n---MESSAGE ENDS.";	
	
	// Nova mission (oolite-nova-mission.js)
	
	"oolite_nova_title" = "Rescue Mission";
	"oolite_nova_brief" = "You’ve arrived at an unfortunate time, Commander.\n\nOur sun has become unstable and is due to go nova at any moment. All our ships are evacuating the system, the last few refugees have come here to find a ship to take them to safety.\n\nPlease, please help us to escape!";
	"oolite_nova_info" = "Get the refugees to safety.";
	"oolite_nova_hero" = "Commander, we thank you.\n\nYou’ve brought us all to safety but we have no money with which we can reward you\n- our last credits were taken by those who took us to the space station.\n\nInstead we offer you undying gratitude… and what few valuable possessions we can spare.\n\nYou are our hero!";
	"oolite_nova_disappointed" = "Commander, you should be ashamed.\nThose people you left behind had placed all their hopes on you and you just left them to their fate.\n\nSuch cowardly behaviour hasn’t gone unnoticed."; 
	"oolite_nova_ignored" = "Commander,\nyou were the last hope for survival for the remaining refugees. If you hadn’t\nignored the emergency, they could have escaped the nova explosion.\n\nHow could you abandon them to their fate…"; 
	"oolite_nova_yesno" =
	{
		NO = "No, sorry.";
		YES = "Okay, I’ll help.";
	};
	
	
	// Trumbles mission (oolite-trumbles-mission.js)
	
	"oolite_trumble_title" = "Special Offer";
	"oolite_trumble_offer" = "Commander [commander_name],\n\nYou look like someone who could use a Trumble on your [commander_shipdisplayname]!\n\nThis is yours for only 30 credits.";
	"oolite_trumble_offer_yesno" =
	{
		"OOLITE_TRUMBLE_NO" = "No thanks. No pets on my ship.";
		"OOLITE_TRUMBLE_YES" = "Okay, I’ll take one, it looks cute.";
	};


	// General contracts (oolite-contracts-*.js)
	
	"oolite-contracts-time-format" = "[oolite-contracts-time-format-hours] hours";

	// Parcel delivery contracts (oolite-contracts-parcels.js)

	"oolite-contracts-parcels-interface-title" = "Parcel contract deliveries ([oolite-contracts-parcels-interface-title-count] available)";
	"oolite-contracts-parcels-interface-summary" = "Deliveries of small parcels to recipients in other systems. No special equipment is required, and the parcels will not take up space in your hold.";
	"oolite-contracts-parcels-interface-category" = "[interfaces-category-deliveries]";

	"oolite-contracts-parcels-none-available-title" = "Parcel Delivery Contracts";
	"oolite-contracts-parcels-none-available-message" = "There are currently no parcel delivery contracts available in this system.";

	"oolite-contracts-parcels-title-summary" = "Parcel Delivery Contracts";
	"oolite-contracts-parcels-title-detail" = "Parcel delivery contract [oolite-contracts-parcels-title-detail-number] of [oolite-contracts-parcels-title-detail-total]";

	"oolite-contracts-parcels-column-cargo" = "Package";
	"oolite-contracts-parcels-column-destination" = "Destination";
	"oolite-contracts-parcels-column-within" = "Within";
	"oolite-contracts-parcels-column-fee" = "Fee";

	"oolite-contracts-parcels-long-description" = "[oolite-contracts-parcels-longdesc-sender] has some [oolite-contracts-parcels-longdesc-contents] that need to be taken to [oolite-contracts-parcels-longdesc-destination] within [oolite-contracts-parcels-longdesc-deadline]. The journey will take about [oolite-contracts-parcels-longdesc-time], and you will be paid [oolite-contracts-parcels-longdesc-payment] upon successful delivery.";

	"oolite-contracts-parcels-command-ana-quickest" = "Show quickest route";
	"oolite-contracts-parcels-command-ana-shortest" = "Show route with fewest jumps";
	"oolite-contracts-parcels-command-back" = "Previous contract";
	"oolite-contracts-parcels-command-next" = "Next contract";
	"oolite-contracts-parcels-command-list" = "List all contracts";
	"oolite-contracts-parcels-command-accept" = "Accept delivery contract";
	"oolite-contracts-parcels-command-quit" = "Exit parcel delivery contracts";

	// Passenger delivery contracts (oolite-contracts-passengers.js)

	"oolite-contracts-passengers-interface-title" = "Passenger contract deliveries ([oolite-contracts-passengers-interface-title-count] available)";
	"oolite-contracts-passengers-interface-summary" = "Transportation of passengers to other systems. One passenger cabin (available from all systems Tech Level 6 or higher) is needed for each passenger.";
	"oolite-contracts-passengers-interface-category" = "[interfaces-category-deliveries]";

	"oolite-contracts-passengers-none-available-title" = "Passenger Transport Contracts";
	"oolite-contracts-passengers-none-available-message" = "There are currently no passenger transport contracts available in this system.";

	"oolite-contracts-passengers-title-summary" = "Passenger Transport Contracts";
	"oolite-contracts-passengers-title-detail" = "Passenger transport contract [oolite-contracts-passengers-title-detail-number] of [oolite-contracts-passengers-title-detail-total]";

	"oolite-contracts-passengers-column-name" = "Name";
	"oolite-contracts-passengers-column-destination" = "Destination";
	"oolite-contracts-passengers-column-within" = "Within";
	"oolite-contracts-passengers-column-advance" = "Advance";
	"oolite-contracts-passengers-column-fee" = "Fee";

	"oolite-contracts-passengers-long-description" = "[oolite-contracts-passengers-longdesc-name], a [oolite-contracts-passengers-longdesc-species], wishes to go to [oolite-contracts-passengers-longdesc-destination] within [oolite-contracts-passengers-longdesc-deadline]. The journey will take about [oolite-contracts-passengers-longdesc-time]. You will be paid [oolite-contracts-passengers-longdesc-advance] in advance and [oolite-contracts-passengers-longdesc-payment] upon successful delivery.";

	"oolite-contracts-passengers-command-ana-quickest" = "Show quickest route";
	"oolite-contracts-passengers-command-ana-shortest" = "Show route with fewest jumps";
	"oolite-contracts-passengers-command-back" = "Previous contract";
	"oolite-contracts-passengers-command-next" = "Next contract";
	"oolite-contracts-passengers-command-list" = "List all contracts";
	"oolite-contracts-passengers-command-accept" = "Accept transport contract";
	"oolite-contracts-passengers-command-unavailable" = "(no free passenger cabins)";
	"oolite-contracts-passengers-command-quit" = "Exit passenger transport contracts";

	// Cargo delivery contracts (oolite-contracts-cargo.js)

	"oolite-contracts-cargo-interface-title" = "Cargo contract deliveries ([oolite-contracts-cargo-interface-title-count] available)";
	"oolite-contracts-cargo-interface-summary" = "Transportation of cargo in bulk to other systems. Sufficient hold space is required, and you will need to pay a deposit to insure against failure to deliver.";
	"oolite-contracts-cargo-interface-category" = "[interfaces-category-deliveries]";

	"oolite-contracts-cargo-none-available-title" = "Cargo Transport Contracts";
	"oolite-contracts-cargo-none-available-message" = "There are currently no cargo transport contracts available in this system.";

	"oolite-contracts-cargo-title-summary" = "Cargo Transport Contracts";
	"oolite-contracts-cargo-title-detail" = "Cargo transport contract [oolite-contracts-cargo-title-detail-number] of [oolite-contracts-cargo-title-detail-total]";

	"oolite-contracts-cargo-column-goods" = "Goods";
	"oolite-contracts-cargo-column-destination" = "Destination";
	"oolite-contracts-cargo-column-within" = "Within";
	"oolite-contracts-cargo-column-deposit" = "Deposit";
	"oolite-contracts-cargo-column-fee" = "Fee";

	"oolite-contracts-cargo-long-description" = "Deliver a cargo of [oolite-contracts-cargo-longdesc-goods] to [oolite-contracts-cargo-longdesc-destination] within [oolite-contracts-cargo-longdesc-deadline]. The journey will take about [oolite-contracts-cargo-longdesc-time]. You will be paid [oolite-contracts-cargo-longdesc-payment] upon successful delivery, and must pay [oolite-contracts-cargo-longdesc-deposit] to take the contract.";

	"oolite-contracts-cargo-command-ana-quickest" = "Show quickest route";
	"oolite-contracts-cargo-command-ana-shortest" = "Show route with fewest jumps";
	"oolite-contracts-cargo-command-back" = "Previous contract";
	"oolite-contracts-cargo-command-next" = "Next contract";
	"oolite-contracts-cargo-command-list" = "List all contracts";
	"oolite-contracts-cargo-command-accept" = "Accept cargo contract";
	"oolite-contracts-cargo-command-unavailable" = "(insufficient resources)";
	"oolite-contracts-cargo-command-quit" = "Exit cargo transport contracts";


}
