{
	"interstellar space" =
	{
		sky_color_1 = (0, 1, 0.5);
		sky_color_2 = (0, 1, 0);
		sky_n_stars = 480;
		sky_n_blobs = 128;
	};
	
	universal =
	{
		// The two multiplier values below determine how many more stars will be used to populate space
		// with respect to the number normally used. Apply to all systems by being included in the 
		// "universal" section.
		star_count_multiplier = 5;
		nebula_count_multiplier = 1;
		
		corona_flare = 0.075;
		
		// Default docking clearance requirement for main stations.
		stations_require_docking_clearance = no;
	};
	
	// Uncomment the desired behaviour for galactic hyperspace exit. Fixed coordinates will put the arrival
	// of an intergalactic jump on map coordinates specified by the key galactic_hyperspace_fixed_coords.
	"galactic_hyperspace_behaviour" = 	"BEHAVIOUR_STANDARD";
						//"BEHAVIOUR_ALL_SYSTEMS_REACHABLE";
						//"BEHAVIOUR_FIXED_COORDINATES";
						
	// When using BEHAVIOUR_FIXED_COORDINATES, the key below is used to specify the
	// actual fixed coordinates for the intergalactic jump.
	"galactic_hyperspace_fixed_coords" = 	"96 96";
	
	hyperspace_tunnel_color_1 = (1.0, 1.0, 1.0, 0.7);		// R, G, B, A values 0.0 to 1.0
	
	//hyperspace_tunnel_color_1 = (1.0, 0.0, 0.0, 0.5);		// fallback value, same as docking tunnel
	//hyperspace_tunnel_color_2 = (0.0, 0.0, 1.0, 0.25);	// fallback value, same as docking tunnel
	
	/* This setting controls the minimum charge level of the energy banks
	   before the shields start charging. It's taken as a percentage value
	   from 0.0 (0%) to 1.0 (100%).  If the energy banks are less than this,
       energy is first used to charge the banks, and only then the shields.
	   Default: 0.0
	*/
	//shield_charge_energybank_threshold = 0.75;
	
	/*	Worlds with "pink oceans" or "vast oceans" according to system
		description. "Unusual oceans" are ignored.
		In theory, oceans could also be "ancient", "great", "funny", "weird",
		"strange", or "peculiar", but only "pink", "vast" and "unusual" ones
		seem to exist in the wild.
	*/
	"0 19" =
	{
		// Azaqu
		sea_hsb_color = "0.96 0.25 1";
	};
	// 0 148 Riraes: naturally pink
	"0 172" =
	{
		// Esveor
		sea_hsb_color = "0.88 0.2 0.95";
	};
	// 0 164 Ribilebi: naturally vast
	
	"1 25" =
	{
		// Berien
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"1 137" =
	{
		// Lainor
		sea_hsb_color = "0.0 0.25 1";
	};
	"1 160" =
	{
		// Geisan
		sea_hsb_color = "0.01 0.27 1";
	};
	// 1 195 Cebior: naturally vast
	// 1 200 Atgeaner: naturally vastish
	"1 203" =
	{
		// Cemabe - vast oceans, prowled by vicious vicious wolfs.
		percent_land = 25;	// Actually results in less than 5% land. Hmm.
	};
	
	"2 59" =
	{
		// Ceteri
		sea_hsb_color = "0.03 0.3 1";
	};
	"2 112" =
	{
		// Celace
		land_hsb_color = "0.9 0.2 0.9";	// Pink Ondiabweed plantations.
	};
	"2 115" =
	{
		// Usraer
		sea_hsb_color = "0.97 0.45 0.9";
		land_hsb_color = "0.55 0.75 0.8";	// Blue continents - Usraer defaults to a clashing red.
	};
	"2 125" =
	{
		// Edcequor
		sea_hsb_color = "0.93 0.21 1";
	};
	"2 193" =
	{
		// Anondi
		sea_hsb_color = "0.02 0.31 0.85";
	};
	"2 206" =
	{
		// Atlaar
		sea_hsb_color = "0.89 0.32 1";
	};
	"2 215" =
	{
		// Bibira
		sea_hsb_color = "0 0.15 0.95";
	};
	
	"3 16" =
	{
		// Onzaenve
		percent_land = 15;
	};
	"3 130" =
	{
		// Cebitiza
		percent_land = 35;
	};
	"3 148" =
	{
		// Teisen
		percent_land = 30;
	};
	"3 192" =
	{
		// Laerzaes
		percent_land = 20;
	};
	"3 216" =
	{
		// Edrari
		sea_hsb_color = "0.88 0.2 0.95";
	};
	"3 224" =
	{
		// Orusdire
		percent_land = 20;
	};
	"3 247" =
	{
		// Leisera - muddy pink, for the mud tennis.
		sea_hsb_color = "0.02 0.31 0.85";
	};
	
	
	// TODO: double check, and - if needed - tweak pink & vastness factors for the following planets
	
	
	"4 62" =
	{
		// Arriti - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"4 65" =
	{
		// Xele - muddy pink
		sea_hsb_color = "0.02 0.31 0.85";
	};
	"4 71" =
	{
		// Usorbela - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"4 93" =
	{
		// Isvequre - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"4 211" =
	{
		// Maeser - vast
		percent_land = 20;
	};
	"4 255" =
	{
		// Cetiisqu - vast
		percent_land = 20;
	};
	"5 26" =
	{
		// Arvelele - vast
		percent_land = 20;
	};
	"5 34" =
	{
		// Maatis - vast
		percent_land = 20;
	};
	"5 72" =
	{
		// Ervedira - vast
		percent_land = 20;
	};
	"5 90" =
	{
		// Lainisri - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"5 153" =
	{
		// Reriarti - vast
		percent_land = 20;
	};
	"5 168" =
	{
		// Ceoreded - vast
		percent_land = 20;
	};
	"5 182" =
	{
		// Gearge - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"5 212" =
	{
		// Reinbixe - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"5 243" =
	{
		// Leera - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"5 247" =
	{
		// Soinisat - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"6 61" =
	{
		// Isanesle - vast
		percent_land = 20;
	};
	"6 139" =
	{
		// Tizaon - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"6 165" =
	{
		// Qureaed - vast
		percent_land = 20;
	};
	"6 195" =
	{
		// Teabi - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"6 213" =
	{
		// Enatzaus - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"7 60" =
	{
		// Onisain - pink
		sea_hsb_color = "0.9 0.2 0.9";
	};
	"7 87" =
	{
		// Teteus - vast
		percent_land = 20;
	};
	"7 94" =
	{
		// Edtetiin - pink
		sea_hsb_color = "0.9 0.2 0.9";
	}; 
	"7 139" =
	{
		// Rete - vast
		percent_land = 20;
	};
	"7 149" =
	{
		// Arenxeon - vast
		percent_land = 20;
	};
	"7 199" =
	{
		// Mageesti - vast
		percent_land = 20;
	};
	"7 221" =
	{
		// Dienve - vast
		percent_land = 20;
	};
}
