{
	"interstellar space" =
	{
		sky_color_1 = (0, 1, 0.5);
		sky_color_2 = (0, 1, 0);
		sky_n_stars = 480;
		sky_n_blobs = 128;
	};
	
	universal =
	{
		// The two multiplier values below determine how many more stars will be used to populate space
		// with respect to the number normally used. Apply to all systems by being included in the 
		// "universal" section.
		star_count_multiplier = 2;
		nebula_count_multiplier = 1;
		
		// Default docking clearance requirement for main stations.
		stations_require_docking_clearance = no;
	};
	
	// Uncomment the desired behaviour for galactic hyperspace exit. Fixed coordinates will put the arrival
	// of an intergalactic jump on map coordinates specified by the key galactic_hyperspace_fixed_coords.
	"galactic_hyperspace_behaviour" = 	"BEHAVIOUR_STANDARD";
						//"BEHAVIOUR_ALL_SYSTEMS_REACHABLE";
						//"BEHAVIOUR_FIXED_COORDINATES";
						
	// When using the GALACTIC_HYPERSPACE_BEHAVIOUR_FIXED_COORDINATES, the key below is used to specify the
	// actual fixed coordinates for the intergalactic jump.
	"galactic_hyperspace_fixed_coords" = 	"96 96";
}
