/* List of roles in various groupings. Used to determine initial
 * reactions of ships to each other, among other things. Roles may be
 * in more than one grouping.
 *
 * player-unknown should probably *only* be in oolite-pirate-victim
 */ 
{
	/* Roles which pirates think might have tasty cargo. Equivalent in
	 * function to the pirate-victim-roles.plist */
	"oolite-pirate-victim" = (
		"player", // for old AIs
		"player-unknown", // for new AIs
		"trader",
		"trader-smuggler",
		"shuttle",
		
		// Known trader-like roles from pre-1.70 plug-ins
		"delta",
		"gemini",
		"starseeker",
		"liner",
		"strelka",
		"trident",
		"coachwhip",
		"coral",
		"moraytransport",
		"woma",
		"fueltransport",
		"att1",
		"impfreighter",
		"imptanker",
		"sunskim-trader"
	);


	/* Roles used by bounty hunters */
	"oolite-bounty-hunter" = (
		"hunter",
		"hunter-medium",
		"hunter-heavy"
	);


	/* Roles that often attack pirates */
	"oolite-pirate-enemy" = (
		"hunter",
		"hunter-medium",
		"hunter-heavy",
		"interceptor",
		"police",
		"police-station-patrol",
		"police-witchpoint-patrol"
	);


	/* Roles used by pirates */
	"oolite-pirate" = (
		"pirate",
		"pirate-light-fighter",
		"pirate-medium-fighter",
		"pirate-heavy-fighter",
		"pirate-light-freighter",
		"pirate-medium-freighter",
		"pirate-heavy-freighter",
		"pirate-aegis-raider",
		"pirate-interceptor",
	);
	

	/* Pirate leaders */
	"oolite-pirate-leader" = (
		"pirate-light-freighter",
		"pirate-medium-freighter",
		"pirate-heavy-freighter"
	);


	/* Roles considered to be traders. Player, player-unknown
	 * intentionally excluded. */
	"oolite-trader" = (
		"trader",
		"trader-courier",
		"trader-courier+",
		"trader-smuggler"
	);

	/* Roles used by couriers */
	"oolite-courier" = (
		"trader-courier",
		"trader-courier+" // player equivalent role
	);


	/* Roles used by shuttles */
	"oolite-shuttle" = (
		"shuttle"
	);


	/* Roles used by assassins */
	"oolite-assassin" = (
		"assassin-light",
		"assassin-medium",
		"assassin-heavy",
		"assassin-player"
	);


	/* Roles used by escort ships. Ships must have one of these roles
	 * and a scanClass matching the mothership's scanClass to be
	 * accepted as an escort. */
	"oolite-escort" = (
		"escort",
		"escort-medium",
		"escort-heavy",
		"wingman",
		"EQ_THARGON"
	);

	/* Roles used by miner/scavenger ships */
	"oolite-scavenger" = (
		"miner",
		"rockhermit",
		"scavenger"
	);

	/* Roles the police are more likely to side with in a clean v
	 * clean fight */
	"oolite-police-like" = (
		"trader",
		"trader-courier",
		"trader-courier+",
		"shuttle",
		"miner",
		"hunter",
		"hunter-medium",
		"hunter-heavy",
		"escape-capsule",
		"police",
		"rockhermit"
	);

	/* Roles the police are less likely to side with in a clean v
	 * clean fight */
	"oolite-police-dislike" = (
		"pirate",
		"pirate-light-fighter",
		"pirate-medium-fighter",
		"pirate-heavy-fighter",
		"pirate-light-freighter",
		"pirate-medium-freighter",
		"pirate-heavy-freighter",
		"pirate-aegis-raider",
		"pirate-interceptor",
		"assassin-light",
		"assassin-medium",
		"assassin-heavy",
		"assassin-player"
	);



}