{
	short_range_chart	= "oolite-short-range-chart.png";
	long_range_chart	= "oolite-long-range-chart.png";
	system_data_nova	= "oolite-nova-system.png";
	
/*	// This section is commented out, and not used by standard Oolite.
	// Use the following settings to add custom images to Oolite's screens

	intro				= "intro.png";				// background for the ships at game start
	newgame				= "newgame.png";			// background for the new game (scenario select) screen
	status				= "status.png";
	status_docked		= "status-docked.png";		// if not defined, same as status
	status_in_flight	= "status-in-flight.png"; 	// if not defined, same as status
	status_red_alert	= "status-red-alert.png"; 	// if not defined, same as status
	report				= "report.png";				// if not defined, same as status_docked
	
	manifest			= "manifest.png";
	equip_ship			= "equip-ship.png";
	mount_weapon		= "mount-weapon.png";		// if not defined, same as equip_ship
	shipyard			= "shipyard.png";

	interfaces    = "interfaces.png";
	
	long_range_chart1	= "long-range-chart1.png"; 	// if not defined, same as long_range_chart
	long_range_chart2	= "long-range-chart2.png";	// if not defined, same as long_range_chart
	long_range_chart3	= "long-range-chart3.png";	// if not defined, same as long_range_chart
	long_range_chart4	= "long-range-chart4.png";	// if not defined, same as long_range_chart
	long_range_chart5	= "long-range-chart5.png";	// if not defined, same as long_range_chart
	long_range_chart6	= "long-range-chart6.png";	// if not defined, same as long_range_chart
	long_range_chart7	= "long-range-chart7.png";	// if not defined, same as long_range_chart
	long_range_chart8	= "long-range-chart8.png";	// if not defined, same as long_range_chart

  short_range_chart_mission = "short-range-chart-mission.png"; // if not defined, same as short_range_chart
  long_range_chart_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart
  long_range_chart1_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart1
  long_range_chart2_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart2
  long_range_chart3_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart3
  long_range_chart4_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart4
  long_range_chart5_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart5
  long_range_chart6_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart6
  long_range_chart7_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart7
  long_range_chart8_mission = "long-range-chart-mission.png"; // if not defined, same as long_range_chart_mission and then long_range_chart8

	
	system_data			= "system-data.png";
	
	market				= "market.png";
	contracts			= "contracts.png";			// if not defined, same as market
	
	settings			= "settings.png";			// game options / settings
	load_save			= "load-save.png";			// load / save game screens
	
	mission				= "mission.png";			// default mission background, overridden by mission's background parameter.
	
	// Use overlays to add extra info / graphic elements to the screen.
	
	mission_overlay_with_title	= "mission-overlay1.png";	// generic mission overlay, used when there is a mission tile. Overridden by mission's overlay parameter.
	mission_overlay_no_title	= "mission-overlay2.png";	// overlay used when mission title is a blank string. Overridden by mission's overlay parameter.
	
	overlay						= "overlay.png";			// in-flight overlay
	docked_overlay				= "docked-overlay.png";
	paused_overlay				= "paused-overlay.png";		// in-flight and paused
	paused_docked_overlay		= "paused-docked-overlay.png";
	newgame_overlay				= "newgame_overlay.png";
	overwrite_overlay			= "overwrite-overlay.png";	// overlay used in the 'overwrite saved game?' screen

*/
}
