(
	{
		path = ("assassins", 0, "do", 321, "do", 1, "conditions", 0);
		match = "shipsFound_number less than 20";
		replace = "shipsFound_number lessthan 20";
	},
	{
		path = ("assassins", 0, "do", 322, "do", 1, "conditions", 0);
		match = "shipsFound_number less than 20";
		replace = "shipsFound_number lessthan 20";
	}
)
