{
	oolite_template_generic_ship = {
		chance = 0;
		optional_equipment = (
			"EQ_FUEL_SCOOPS",
			"EQ_ESCAPE_POD",
			"EQ_FUEL_INJECTION",
			"EQ_HEAT_SHIELD"
		);
		techlevel = 0;
		price = 20000;
	};

	oolite_template_adder = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_SHIELD_BOOSTER"
		);
		price = 65000;
		standard_equipment = {
			extras = (
				"EQ_HEAT_SHIELD"
			);
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 1;
		};
		techlevel = 4;
		weapon_facings = 1;
	};

	oolite_template_anaconda = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 650000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 3;
		};
		techlevel = 8;
		weapon_facings = 15;
	};

	oolite_template_asp = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_NAVAL_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 375000;
		standard_equipment = {
			extras = (
				"EQ_SCANNER_SHOW_MISSILE_TARGET",
				"EQ_TARGET_MEMORY"
			);
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 1;
		};
		techlevel = 10;
		weapon_facings = 3;
	};

	oolite_template_boa = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 450000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 3;
		};
		techlevel = 6;
		weapon_facings = 15;
	};

	oolite_template_boa-mk2 = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_NAVAL_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 495000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 5;
		};
		techlevel = 7;
		weapon_facings = 15;
	};

	oolite_template_cobra3 = {
		optional_equipment = (
			"EQ_CARGO_BAY",
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_NAVAL_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 150000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 3;
		};
		techlevel = 6;
		weapon_facings = 15;
	};

	oolite_template_cobramk1 = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 100000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 1;
		};
		techlevel = 4;
		weapon_facings = 3;
	};

	oolite_template_ferdelance = {
		optional_equipment = (
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_GAL_DRIVE",
			"EQ_NAVAL_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 485000;
		standard_equipment = {
			extras = (
				"EQ_PASSENGER_BERTH",
				"EQ_PASSENGER_BERTH",
				"EQ_FUEL_SCOOPS",
				"EQ_ECM",
				"EQ_ESCAPE_POD",
				"EQ_ADVANCED_COMPASS",
				"EQ_SCANNER_SHOW_MISSILE_TARGET",
				"EQ_FUEL_INJECTION",
				"EQ_MULTI_TARGET",
				"EQ_DOCK_COMP",
				"EQ_SHIELD_BOOSTER"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 3;
		};
		techlevel = 8;
		weapon_facings = 15;
	};

	oolite_template_gecko = {   
		optional_equipment = (   
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER"
		);  
		price = 90000;
		standard_equipment = {   
			extras = (
				"EQ_FUEL_SCOOPS"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 1;
		};
		techlevel = 5;
		weapon_facings = 1;
	};

	oolite_template_krait = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_GAL_DRIVE",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_NAVAL_SHIELD_BOOSTER"
		);
		price = 80000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_FUEL_INJECTION"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 1;
		};
		techlevel = 5;
		weapon_facings = 1;
	};

	oolite_template_mamba = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER"
		);
		price = 85000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 0;
		};
		techlevel = 6;
		weapon_facings = 1;
	};

	oolite_template_mamba-escort = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER"
		);
		price = 89000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_FUEL_INJECTION"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 0;
		};
		techlevel = 6;
		weapon_facings = 15;
	};

	oolite_template_moray = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER",
			"EQ_NAVAL_SHIELD_BOOSTER"
		);
		price = 125000;
		standard_equipment = {
			extras = (
				"EQ_HEAT_SHIELD"
			);
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 2;
		};
		techlevel = 5;
		weapon_facings = 15;
	};

	oolite_template_morayMED = {
		optional_equipment = (
			"EQ_CARGO_BAY",
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS",
			"EQ_SHIELD_BOOSTER"
		);
		price = 145000;
		standard_equipment = {
			extras = (
				"EQ_HEAT_SHIELD"
			);
			forward_weapon_type = "EQ_WEAPON_NONE";
			missiles = 0;
		};
		techlevel = 6;
		weapon_facings = 1;
	};

	oolite_template_python = {
		optional_equipment = (
			"EQ_CARGO_BAY",
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_SHIELD_BOOSTER",
			"EQ_HEAT_SHIELD"
		);
		price = 200000;
		standard_equipment = {
			extras = "";
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 1;
		};
		techlevel = 4;
		weapon_facings = 15;
	};

	oolite_template_shuttle = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 34600;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS"
			);
			missiles = 0;
		};
		techlevel = 2;
		weapon_facings = 0;
	};

	oolite_template_sidewinder = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 35000;
		standard_equipment = {
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 0;
		};
		techlevel = 5;
		weapon_facings = 1;
	};

	oolite_template_sidewinder-escort = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_FUEL_SCOOPS",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 38000;
		standard_equipment = {
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 0;
		};
		techlevel = 6;
		weapon_facings = 1;
	};

	oolite_template_transporter = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 45000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS"
			);
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 0;
		};
		techlevel = 3;
		weapon_facings = 1;
	};

	oolite_template_transporter-miner = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 48000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_FUEL_INJECTION"
			);
			forward_weapon_type = "EQ_WEAPON_MINING_LASER";
			missiles = 0;
		};
		techlevel = 3;
		weapon_facings = 1;
	};

	oolite_template_viper = {
		optional_equipment = (
			"EQ_FUEL_SCOOPS",
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE"
		);
		price = 520000;
		standard_equipment = {
			extras = (
				"EQ_ECM"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 1;
		};
		techlevel = 6;
		weapon_facings = 3;
	};

	oolite_template_viper-interceptor = {
		optional_equipment = (
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE"
		);
		price = 620000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_ECM",
				"EQ_FUEL_INJECTION"
			);
			forward_weapon_type = "EQ_WEAPON_MILITARY_LASER";
			missiles = 3;
		};
		techlevel = 10;
		weapon_facings = 3;
	};

	oolite_template_viper-pursuit = {
		optional_equipment = (
			"EQ_PASSENGER_BERTH",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE"
		);
		price = 520000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_ECM"
			);
			forward_weapon_type = "EQ_WEAPON_BEAM_LASER";
			missiles = 1;
		};
		techlevel = 7;
		weapon_facings = 3;
	};

	oolite_template_worm = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_FUEL_INJECTION",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 32000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS"
			);
			forward_weapon_type = "EQ_WEAPON_PULSE_LASER";
			missiles = 0;
		};
		techlevel = 3;
		weapon_facings = 1;
	};

	oolite_template_worm-miner = {
		optional_equipment = (
			"EQ_ECM",
			"EQ_ESCAPE_POD",
			"EQ_ENERGY_BOMB",
			"EQ_ENERGY_UNIT",
			"EQ_NAVAL_ENERGY_UNIT",
			"EQ_DOCK_COMP",
			"EQ_WEAPON_PULSE_LASER",
			"EQ_WEAPON_BEAM_LASER",
			"EQ_WEAPON_MINING_LASER",
			"EQ_WEAPON_MILITARY_LASER",
			"EQ_SCANNER_SHOW_MISSILE_TARGET",
			"EQ_MULTI_TARGET",
			"EQ_GAL_DRIVE",
			"EQ_ADVANCED_COMPASS"
		);
		price = 35000;
		standard_equipment = {
			extras = (
				"EQ_FUEL_SCOOPS",
				"EQ_FUEL_INJECTION"
			);
			forward_weapon_type = "EQ_WEAPON_MINING_LASER";
			missiles = 0;
		};
		techlevel = 3;
		weapon_facings = 1;
	};

    adder-player = {
		chance = 0.25;
    };

    anaconda-player = {
		chance = 0.125;
    };

    asp-player = {
		chance = 0.5;
    };

    boa-player = {
		chance = 0.375;
    };

    boa-mk2-player = {
		chance = 0.325;
    };

    cobra3-player = {
		chance = 0.5;
    };

    cobramk1-player = {
		chance = 0.375;
    };

    ferdelance-player = {
		chance = 0.25;
    };

    gecko-player = {
		chance = 0.375;
    };

    krait-player = {
		chance = 0.375;
    };

    mamba-player = {
		chance = 0.375;
    };

    mamba-escort-player = {
		chance = 0.275;
    };

    moray-player = {
		chance = 0.375;
    }

    morayMED-player = {
		chance = 0.275;
    }

    python-player = {
		chance = 0.5;
    };

    shuttle-player = {
		chance = 0.375;
    };

    sidewinder-player = {
		chance = 0.375;
    };

    sidewinder-escort-player = {
		chance = 0.375;
    };

    transporter-player = {
		chance = 0.375;
    };

    transporter-miner-player = {
		chance = 0.175;
    };

    viper-player = {
		chance = 0.012;
    };

    viper-interceptor-player = {
		chance = 0.012;
    };

    viper-pursuit-player = {
		chance = 0.012;
    };

    worm-player = {
		chance = 0.375;
    };

    worm-miner-player = {
		chance = 0.175;
    };
}
