<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adder-player</key>
	<dict>
		<key>chance</key>
		<real>0.25</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>65000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>1</integer>
		</dict>
		<key>techlevel</key>
		<integer>4</integer>
		<key>weapon_facings</key>
		<integer>1</integer>
	</dict>
	<key>anaconda-player</key>
	<dict>
		<key>chance</key>
		<real>0.125</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>650000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>3</integer>
		</dict>
		<key>techlevel</key>
		<integer>8</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>asp-player</key>
	<dict>
		<key>chance</key>
		<real>0.5</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
			<string>EQ_NAVAL_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>375000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array>
                <string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
                <string>EQ_MULTI_TARGET</string>
			</array>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>1</integer>
		</dict>
		<key>techlevel</key>
		<integer>10</integer>
		<key>weapon_facings</key>
		<integer>3</integer>
	</dict>
	<key>boa-player</key>
	<dict>
		<key>chance</key>
		<real>0.375</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>450000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>3</integer>
		</dict>
		<key>techlevel</key>
		<integer>6</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>boa-mk2-player</key>
	<dict>
		<key>chance</key>
		<real>0.325</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
			<string>EQ_NAVAL_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>495000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<key>missiles</key>
			<integer>5</integer>
		</dict>
		<key>techlevel</key>
		<integer>7</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>cobra3-player</key>
	<dict>
		<key>chance</key>
		<real>0.5</real>
		<key>optional_equipment</key>
		<array>
            <string>EQ_CARGO_BAY</string>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
			<string>EQ_NAVAL_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>150000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>3</integer>
		</dict>
		<key>techlevel</key>
		<integer>6</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>cobramk1-player</key>
	<dict>
		<key>chance</key>
		<real>0.375</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>100000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>1</integer>
		</dict>
		<key>techlevel</key>
		<integer>4</integer>
		<key>weapon_facings</key>
		<integer>3</integer>
	</dict>
	<key>ferdelance-player</key>
	<dict>
		<key>chance</key>
		<real>0.25</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_NAVAL_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>485000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array>
				<string>EQ_PASSENGER_BERTH</string>
				<string>EQ_PASSENGER_BERTH</string>
				<string>EQ_FUEL_SCOOPS</string>
				<string>EQ_ECM</string>
				<string>EQ_ESCAPE_POD</string>
				<string>EQ_ADVANCED_COMPASS</string>
				<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
				<string>EQ_FUEL_INJECTION</string>
				<string>EQ_MULTI_TARGET</string>
				<string>EQ_DOCK_COMP</string>
				<string>EQ_SHIELD_BOOSTER</string>
			</array>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<key>missiles</key>
			<integer>3</integer>
		</dict>
		<key>techlevel</key>
		<integer>8</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>moray-player</key>
	<dict>
		<key>chance</key>
		<real>0.375</real>
		<key>optional_equipment</key>
		<array>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
			<string>EQ_NAVAL_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>125000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>2</integer>
		</dict>
		<key>techlevel</key>
		<integer>5</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
	<key>morayMED-player</key>
	<dict>
		<key>chance</key>
		<real>0.275</real>
		<key>optional_equipment</key>
		<array>
            <string>EQ_CARGO_BAY</string>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_ADVANCED_COMPASS</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>145000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_NONE</string>
			<key>missiles</key>
			<integer>0</integer>
		</dict>
		<key>techlevel</key>
		<integer>6</integer>
		<key>weapon_facings</key>
		<integer>1</integer>
	</dict>
	<key>python-player</key>
	<dict>
		<key>chance</key>
		<real>0.5</real>
		<key>optional_equipment</key>
		<array>
            <string>EQ_CARGO_BAY</string>
			<string>EQ_ECM</string>
			<string>EQ_FUEL_SCOOPS</string>
			<string>EQ_PASSENGER_BERTH</string>
			<string>EQ_ESCAPE_POD</string>
			<string>EQ_ENERGY_BOMB</string>
			<string>EQ_ENERGY_UNIT</string>
			<string>EQ_NAVAL_ENERGY_UNIT</string>
			<string>EQ_DOCK_COMP</string>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<string>EQ_WEAPON_BEAM_LASER</string>
			<string>EQ_WEAPON_MINING_LASER</string>
			<string>EQ_WEAPON_MILITARY_LASER</string>
			<string>EQ_FUEL_INJECTION</string>
			<string>EQ_SCANNER_SHOW_MISSILE_TARGET</string>
			<string>EQ_MULTI_TARGET</string>
			<string>EQ_GAL_DRIVE</string>
			<string>EQ_SHIELD_BOOSTER</string>
		</array>
		<key>price</key>
		<integer>200000</integer>
		<key>standard_equipment</key>
		<dict>
			<key>extras</key>
			<array/>
			<key>forward_weapon_type</key>
			<string>EQ_WEAPON_PULSE_LASER</string>
			<key>missiles</key>
			<integer>1</integer>
		</dict>
		<key>techlevel</key>
		<integer>4</integer>
		<key>weapon_facings</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
