(
	{
		ship = "cobra3-trader";
		class = "[oolite-ship-library-category-ship]";
		summary = "[oolite-ship-library-summary-HM]";
		description = "[oolite-ship-library-description-cobra3]";
	},
	{
		ship = "coriolis-station";
		class = "[oolite-ship-library-category-station]";
		summary = "[oolite-ship-library-summary-SO]";
		description = "[oolite-ship-library-description-coriolis]";
		ship_data = false;
	},
	{
		ship = "moray";
		class = "[oolite-ship-library-category-ship]";
		summary = "[oolite-ship-library-summary-LM]";
		description = "[oolite-ship-library-description-moray]";
	},
	{
		ship = "viper-interceptor";
		class = "[oolite-ship-library-category-ship]";
		summary = "[oolite-ship-library-summary-PHF]";		
		description = "[oolite-ship-library-description-viperinterceptor]";
		turn_rate = "[oolite-ship-library-classified]";
		generator = "[oolite-ship-library-classified]";
		shields = "[oolite-ship-library-classified]";
	},
	{
		ship = "anaconda";
		class = "[oolite-ship-library-category-ship]";
		summary = "[oolite-ship-library-summary-HFr]";
		description = "[oolite-ship-library-description-anaconda]";
		cargo = "750 TC"; // because the NPC isn't really this big
	}
)