/*	Recognition patterns for OpenGL renderers known to have low shader
	performance, for which simple shader mode should be the default.
*/

(
	{
		// NVIDIA GeForce FX 5200
		vendor = ( "NVIDIA" );
		renderer = ( "GeForce", "5200" );
	},
	{
		// Also NVIDIA GeForce FX 5200
		vendor = ( "NVIDIA" );
		renderer = ( "NV34MAP" );
	},
	{
		// Intel GMA 900
		vendor = ( "Intel" );
		renderer = ( "GMA",  "900" );
	},
	{
		// Intel GMA 950
		vendor = ( "Intel" );
		renderer = ( "GMA",  "950" );
	}
)
