/*	verifyOXP.plist
	
	Various things used internally by the OXP verifier.
*/

{
	stages = (
		"OOCheckRequiresPListVerifierStage",
		"OOCheckPListSyntaxVerifierStage",
		"OOCheckDemoShipsPListVerifierStage",
		"OOCheckEquipmentPListVerifierStage",
		"OOTextureVerifierStage",
		"OOCheckShipDataPListVerifierStage",
		"OOAIStateMachineVerifierStage",
		"OOCheckJSSyntaxVerifierStage"
	);
	excludeStages = (
		/*	Add stages here to stop them from being used. For instance, to
			skip the texture verification, create a verifyOXP.plist file in
			your AddOns folder with the following content:
				{ excludeStages = ( "OOTextureVerifierStage" ); }
		*/
	);
	
	logControlOverride = {
		// Note: only yes and no here, no inherit or $metaclass
		dataCache.rebuild.pathsChanged = no;
		
		verifyOXP = yes;
		verifyOXP.stage = yes;
		verifyOXP.verbose = no;
		verifyOXP.scanFiles.readMe = no;
	};
	logShowMessageClassOverride = no;
	
	knownRootDirectories = (
		// Folder names that are meaningful inside an OXP (or Resources)
		"AIs",
		"Config",
		"Images",
		"Models",
		"Music",
		"Scenarios",
		"Schemata",
		"Scripts",
		"Shaders",
		"Sounds",
		"Textures"
	);
	
	knownFiles = {
		// Files the game uses directly.
		Config = (
			"autoAImap.plist",
			"characters.plist",
			"commodities.plist",
			"crosshairs.plist",
			"customsounds.plist",
			"demoships.plist",
			"descriptions.plist",
			"effectdata.plist",
			"equipment.plist",
			"explosions.plist",
			"global-settings.plist",
			"gui-settings.plist",
			"hud.plist",
			"illegal_goods.plist",
			"keyconfig.plist",
			"keyconfig2.plist",
			"keymapping_linux.plist",
			"keymapping_mac.plist",
			"keymapping_windows.plist",
			"material-defaults.plist",
			"missiontext.plist",
			"nebulatextures.plist",
			"planetinfo.plist",
			"role-categories.plist",
			"scenarios.plist",
			"screenbackgrounds.plist",
			"script.plist",
			"script.js",
			"shipdata.plist",
			"shipyard.plist",
			"shiplibrary.plist",
			"speech_pronunciation_guide.plist",
			"startextures.plist",
			"trade-goods.plist",
			"world-scripts.plist"
		);

		// the files in the "Config" list which are arrays
		ConfigArrays = (
			"demoships.plist",
			"equipment.plist",
			"nebulatextures.plist",
			"scenarios.plist",
			"shiplibrary.plist",
			"speech_pronunciation_guide.plist",
			"startextures.plist",
			"world-scripts.plist"
		);

		// the files in the "Config" list which are dictionaries
		ConfigDictionaries = (
			"autoAImap.plist",
			"characters.plist",
			"commodities.plist",
			"crosshairs.plist",
			"customsounds.plist",
			"descriptions.plist",
			"effectdata.plist",
			"explosions.plist",
			"global-settings.plist",
			"gui-settings.plist",
			"hud.plist",
			"illegal_goods.plist",
			"keyconfig.plist",
			"keyconfig2.plist",
			"keymapping_linux.plist",
			"keymapping_mac.plist",
			"keymapping_windows.plist",
			"material-defaults.plist",
			"missiontext.plist",
			"planetinfo.plist",
			"role-categories.plist",
			"screenbackgrounds.plist",
			"script.plist",
			"script.js",
			"shipdata.plist",
			"shipyard.plist",
			"startextures.plist",
			"trade-goods.plist"
		);

		Sounds = (
			"afterburner1.ogg",
			"witchabort.ogg",
			"warning.ogg",
			"trumblesqueal.ogg",
			"trumble.ogg",
			"sell.ogg",
			"hit.ogg",
			"guiclick.ogg",
			"ecm.ogg",
			"buy.ogg",
			"breakpattern.ogg",
			"boop.ogg",
			"bigbang.ogg",
			"beep.ogg",
			"afterburner2.ogg",
			"scoop.ogg",
			"missile.ogg",
			"laserhits.ogg",
			"laser.ogg",
			"hullbang.ogg"
		);
		Music = (
			"BlueDanube.ogg",
			"OoliteTheme.ogg"
		);
		Textures = (
			"blur256.png",
			"asciitext.png",
			"trumblekit.png"
		);
	};
	
	junkFiles = (
		// Files generated by operating systems and tools which can be ignored.
		".DS_Store",
		"Thumbs.db",
		"zipinfo.txt"
	);
	
	skipDirectories = (
		// Directories to silently skip (version control systems make these).
		".svn",
		"CVS",
		".git"
	);
	
	readMeNames = {
		stems = (
			"readme",
			"read me",
			"read_me",
			"read me now",
			"read me first",
			"read_me_first",
			"readme!",
			"read me!",
			"read_me!",
			"read me now!",
			"read me first!"
		);
		extensions = (
			"",
			".txt",
			".html",
			".htm",
			".rtf",
			".doc",
			".docx",
			".1st"
		);
	};
	
	requiresPListSupportedKeys = (
		"version",
		"max_version"
	);
	
	debugGraphvizTempate = {
		/*	Bits needed to generate graphviz code describing verifier stage
			dependency relationships. This is generated (and written to the
			current working directory) if the preference
			"oxp-verifier-dump-debug-graphviz" is set to YES.
		*/
		preamble = "// OXPVerifier stage dependencies:\n\ndigraph stagedeps\n{\n\tgraph [charset=\"UTF-8\", label=\"OXPVerifier dependency graph\\n%@\", labelloc=t, labeljust=l];\n\tnode [shape=box];\n\t\n\tstart [label=Start shape=Mdiamond];\n\tend [label=End shape=Msquare];\n\t\n";
		node = "\tst%p [label=\"%@\\n“%@”\"];\n";
		
		forwardPreamble = "\t\n\t// Forward arcs, from dependencies to dependents.\n\t// These indicate acceptable execution orders.\n\tedge [arrowhead=normal, color=blue];\n";
		forwardArc = "\tst%p -> st%p;\n";
		startArc = "\tstart -> st%p;\n";
		
		backwardPreamble = "\t\n\t// Backward arcs, from dependents to dependencies.\n\t// There should be one backwards arc for each forward arc.\n\tedge [arrowhead=dot, color=green, constraint=false];\n";
		backwardArc = "\tst%p -> st%p;\n";
		endArc = "\tst%p -> end [constraint=true, arrowhead=none, arrowtail=dot];\n";
		
		postamble = "}\n";
	};
	
	shipdataPListSettings = {
		knownShipKeys = (
			"accuracy",
			"aft_eject_position",
			"aft_weapon_type",
			"ai_type",
			"auto_ai",
			"auto_weapons",
			"beacon",
			"beacon_label",
			"bounty",
			"cargo_carried",
			"cargo_type",
			"cloak_automatic",
			"cloak_passive",
			"condition_script",
			"conditions",
			"counts_as_kill",
			"death_actions",
			"debris_role",
			"density",
			"display_name",
			"energy_recharge_rate",
			"escape_pod_model",
			"escape_pod_role",
			"escort-role",
			"escort-ship",
			"escort_role",
			"escort_roles",
			"escort_ship",
			"escorts",
			"exhaust",
			"exhaust_emissive_color",
			"explosion_type",
			"extra_cargo",
			"forward_weapon_type",
			"fragment_chance",
			"frangible",
			"fuel",
			"fuel_charge_rate",
			"has_cloaking_device",
			"has_ecm",
			"has_energy_bomb",
			"has_escape_pod",
			"has_fuel_injection",
			"has_insulation",
			"has_military_jammer",
			"has_military_scanner_filter",
			"has_scoop",
			"has_scoop_message",
			"has_shield_booster",
			"has_shield_enhancer",
			"heat_insulation",
			"hyperspace_motor",
			"hyperspace_motor_spin_time",
			"injector_burn_rate",
			"injector_speed_factor",
			"isCarrier",
			"is_carrier",
			"is_external_dependency",
			"is_hulk",
			"is_submunition",
			"is_template",
			"laser_color",
			"launch_actions",
			"like_ship",
			"likely_cargo",
			"materials",
			"max_cargo",
			"max_energy",
			"max_flight_pitch",
			"max_flight_roll",
			"max_flight_speed",
			"max_flight_yaw",
			"max_missiles",
			"missile_launch_position",
			"missile_load_time",
			"missile_role",
			"missiles",
			"model",
			"model_scale_factor",
			"name",
			"no_boulders",
			"pilot",
			"port_weapon_type",
			"reaction_time",
			"roles",
			"rotational_velocity",
			"scanClass",
			"scan_class",
			"scan_description",
			"scanner_display_color1",
			"scanner_display_color2",
			"scanner_hostile_display_color1",
			"scanner_hostile_display_color2",
			"scanner_range",
			"scoop_position",
			"script",
			"script_actions",
			"script_info",
			"setup_actions",
			"shaders",
			"ship_class_name",
			"ship_name",
			"show_damage",
			"smooth",
			"starboard_weapon_type",
			"subentities",
			"sun_glare_filter",
			"throw_sparks",
			"thrust",
			"track_contacts",
			"unpiloted",
			"weapon_energy",
			"weapon_facings",
			"weapon_mount_mode",
			"weapon_offset_x",
			"weapon_position_aft",
			"weapon_position_forward",
			"weapon_position_port",
			"weapon_position_starboard",
			"weapon_range" //added 2010-10-31 by cmdr_james for variable range plasma turrets
		);
		knownStationKeys = (
			"allegiance",
			"allows_auto_docking",
			"allows_auto_docking",
			"allows_fast_docking",
			"defense_ship",
			"defense_ship_role",
			"equipment_price_factor",
			"equivalent_tech_level",
			"hasShipyard",
			"has_npc_traffic",
			"has_patrol_ships",
			"has_shipyard",
			"interstellar_undocking",
			"market",
			"market_broadcast",
			"market_capacity",
			"market_definition",
			"market_monitored",
			"market_script",
			"max_defense_ships",
			"max_police",
			"max_scavengers",
			"port_dimensions",
			"port_radius",
			"requires_docking_clearance",
			"rotating",
			"station_roll",
			"tunnel_aspect_ratio",
			"tunnel_corners",
			"tunnel_start_angle"
		);
		knownPlayerKeys = (
			"extra_equipment",
			"custom_views",
			"hud",
			"view_position_forward",
			"view_position_aft",
			"view_position_port",
			"view_position_starboard"
		);
	};
}
