/*	Methods that may be used from old-style script actions or conditions.
	
	This plist cannot be extended or overriden by OXPs.
*/

{
	action_methods =
	(
		// PlayerEntityLegacyScriptEngine.m
		"setMissionDescription:",
		"clearMissionDescription",
		"clearMissionDescriptionForMission:",
		"setLegalStatus:",
		"commsMessage:",
		"commsMessageByUnpiloted:",
		"consoleMessage3s:",
		"consoleMessage6s:",
		"awardCredits:",
		"awardShipKills:",
		"awardEquipment:",
		"removeEquipment:",
		"setPlanetinfo:",
		"setSpecificPlanetInfo:",
		"awardCargo:",
		"removeAllCargo",
		"useSpecialCargo:",
		"testForEquipment:",
		"awardFuel:",
		"messageShipAIs:",
		"ejectItem:",
		"addShips:",
		"addSystemShips:",
		"addShipsAt:",
		"addShipsAtPrecisely:",
		"addShipsWithinRadius:",
		"spawnShip:",
		"set:",
		"reset:",
		"increment:",
		"decrement:",
		"add:",
		"subtract:",
		"checkForShips:",
		"resetScriptTimer",
		"addMissionText:",
		"addLiteralMissionText:",
		"setMissionChoices:",
		"resetMissionChoice",
		"clearMissionScreen",
		"addMissionDestination:",
		"removeMissionDestination:",
		"showShipModel:",
		"setMissionMusic:",
		"setMissionImage:",
		"setFuelLeak:",
		"setSunNovaIn:",
		"launchFromStation",
		"blowUpStation",
		"sendAllShipsAway",
		"addPlanet:",
		"addMoon:",
		"debugOn",
		"debugOff",
		"debugMessage:",
		"playSound:",
		"setGuiToMissionScreen",
	//	"setBackgroundFromDescriptionsKey:",	// Is this ever used from a script? It seems a bad match for future plans of mine. -- Ahruman
		"setGalacticHyperspaceBehaviourTo:",
		"setGalacticHyperspaceFixedCoordsTo:"
	);
	ai_methods =
	(
		// Implicitly includes ai_and_action_methods
		"pauseAI:",
		"setDestinationToCurrentLocation",
		"setDesiredRangeTo:",
		"performFlyToRangeFromDestination",
		"setSpeedTo:",
		"setSpeedFactorTo:",
		"performIdle",
		"performStop",
		"performHold",
		"setTargetToPrimaryAggressor",
		"performAttack",
		"scanForNearestMerchantmen",
		"scanForRandomMerchantmen",
		"scanForLoot",
		"scanForRandomLoot",
		"setTargetToFoundTarget",
		"checkForFullHold",
		"performCollect",
		"performIntercept",
		"performFlee",
		"getWitchspaceEntryCoordinates",
		"setDestinationFromCoordinates",
		"performFaceDestination",
		"performTumble",
		"fightOrFleeMissile",
		"findNearestPlanet",
		"setCourseToPlanet",
		"setTakeOffFromPlanet",
		"landOnPlanet",
		"setAITo:",
		"switchAITo:",
		"checkTargetLegalStatus",
		"exitAI",
		"setDestinationToTarget",
		"setDestinationWithinTarget",
		"checkCourseToDestination",
		"scanForOffenders",
		"setCourseToWitchpoint",
		"setDestinationToWitchpoint",
		"setDestinationToStationBeacon",
		"performHyperSpaceExit",
		"performHyperSpaceExitWithoutReplacing",
		"wormholeEscorts",
		"wormholeGroup",
		"wormholeEntireGroup",
		"commsMessage:",
		"commsMessageByUnpiloted:",
		"broadcastDistressMessage",
		"ejectCargo",
		"scanForThargoid",
		"scanForNonThargoid",
		"becomeUncontrolledThargon",
		"initialiseTurret",
		"checkDistanceTravelled",
		"scanForHostiles",
		"fightOrFleeHostiles",
		"suggestEscort",
		"escortCheckMother",
		"performEscort",
		"checkGroupOddsVersusTarget",
		"groupAttackTarget",
		"scanForFormationLeader",
		"messageMother:",
		"setPlanetPatrolCoordinates",
		"setSunSkimStartCoordinates",
		"setSunSkimEndCoordinates",
		"setSunSkimExitCoordinates",
		"patrolReportIn",
		"checkForMotherStation",
		"sendTargetCommsMessage:",
		"markTargetForFines",
		"markTargetForOffence:",
		"scanForRocks",
		"performMining",
		"setDestinationToDockingAbort",
		"requestNewTarget",
		"rollD:",
	//	"scanForNearestShipWithRole:",	// Handled by ai_method_aliases
		"scanForNearestShipWithPrimaryRole:",
		"scanForNearestShipHavingRole:",
		"scanForNearestShipWithAnyPrimaryRole:",
		"scanForNearestShipHavingAnyRole:",
		"scanForNearestShipWithScanClass:",
		"scanForNearestShipWithoutPrimaryRole:",
		"scanForNearestShipNotHavingRole:",
		"scanForNearestShipWithoutAnyPrimaryRole:",
		"scanForNearestShipNotHavingAnyRole:",
		"scanForNearestShipWithoutScanClass:",
		"scanForNearestShipMatchingPredicate:",
		"setCoordinates:",
		"checkForNormalSpace",
		"requestDockingCoordinates",
		"recallDockingInstructions",
		"addFuel:",
		"enterTargetWormhole",
		"scriptActionOnTarget:",
		"safeScriptActionOnTarget:",
		"sendScriptMessage:",
		"targetFirstBeaconWithCode:",
		"targetNextBeaconWithCode:",
		"setRacepointsFromTarget",
		"performFlyRacepoints",
		"performDocking",		// Note: this method does nothing.
		
		// StationEntity.m/stubs in ShipEntityAI.m
		"increaseAlertLevel",
		"decreaseAlertLevel",
		"launchPolice",
		"launchDefenseShip",
	//	"launchDefenceShip",	// Handled by ai_method_aliases
		"launchScavenger",
		"launchMiner",
		"launchPirateShip",
		"launchShuttle",
		"launchTrader",
		"launchEscort",
		"launchPatrol",
		"launchShipWithRole:",
		
		// Simulated method
		"setStateTo:",
		
		// ShipEntity.m
		"fireECM",
		"becomeExplosion",
		"becomeEnergyBlast",
		"abortDocking",
		"deployEscorts",
		"dockEscorts",
		"setTargetToNearestStation",
	//	"setTargetToStation",	// Handled by ai_method_aliases
		"setTargetToSystemStation",
		"setUpEscorts"
	);
	
	ai_and_action_methods =
	(
		// ShipEntity.m
		"dealEnergyDamageWithinDesiredRange",
		"dumpCargo",
		"switchLightsOn",
		"switchLightsOff",
		
		// PlayerEntityLegacyScriptEngine.m
		"targetNearestHostile",
	);
	
	query_methods =
	(
		"mission_string",
		"status_string",
		"gui_screen_string",
		"galaxy_number",
		"planet_number",
		"score_number",
		"credits_number",
		"scriptTimer_number",
		"shipsFound_number",
		"legalStatus_number",
		"commanderLegalStatus_number",
		"commanderLegalStatus_string",
		"d100_number",
		"pseudoFixedD100_number",
		"d256_number",
		"pseudoFixedD256_number",
		"clock_number",
		"clock_secs_number",
		"clock_mins_number",
		"clock_hours_number",
		"clock_days_number",
		"fuel_level_number",
		"dockedAtMainStation_bool",
		"foundEquipment_bool",
		"sunWillGoNova_bool",
		"sunGoneNova_bool",
		"missionChoice_string",
		"dockedTechLevel_number",
		"dockedStationName_string",
		"systemGovernment_string",
		"systemGovernment_number",
		"systemEconomy_string",
		"systemEconomy_number",
		"systemTechLevel_number",
		"systemPopulation_number",
		"systemProductivity_number",
		"commanderName_string",
		"commanderRank_string",
		"commanderShip_string",
		"commanderShipDisplayName_string",
		"fuel_leak_rate_number"		
	);
	
	shader_binding_methods =
	(
		// FIXME: copy list from http://wiki.alioth.net/index.php/Shaders_in_Oolite:_uniforms when wiki is up.
	);
	
	action_method_aliases =
	{
		// ShipEntity.m
		"setGuiToStatusScreen" = "doNothing";
	};
	
	ai_method_aliases =
	{
		"scanForNearestShipWithRole:" = "scanForNearestShipWithPrimaryRole:";
		"launchDefenceShip"= "launchDefenseShip";
		"setTargetToStation" = "setTargetToNearestStation";
	};
}
