(
  /* General */
	"oolite-populator.js",

  /* AI Construction libraries */
	"oolite-priorityai.js",

  /* Interfaces */
	"oolite-contracts-cargo.js",
	"oolite-contracts-helpers.js",
	"oolite-contracts-parcels.js",
	"oolite-contracts-passengers.js",
	"oolite-primable-equipment-manager.js",
	"oolite-registership.js",

  /* Missions */
	"oolite-constrictor-hunt-mission.js",
	"oolite-cloaking-device-mission.js",
	"oolite-nova-mission.js",
	"oolite-thargoid-plans-mission.js",
	"oolite-trumbles-mission.js",

  /* Tutorial */
	"oolite-tutorial.js"
)
