# Windows cruft
Thumbs.db
ehthumbs.db

# Mac OS X cruft
.DS_Store
Icon?

# Xcode cruft
project.xcworkspace/
xcuserdata/
*.mode1
*.mode1v3
*.pbxuser


# Used for downloaded code
deps/Cocoa-deps/sparkle


# Build products
build/
oolite.app
obj.spk
obj.spk.dbg
DebugOXP/requires.plist
AddOns/

# Debug output
/core
