# Windows cruft
Thumbs.db
ehthumbs.db

# Mac OS X cruft
.DS_Store
Icon?

# Xcode cruft
xcuserdata/
*.xcscmblueprint

# kdevelop cruft
.kdev4/
*.kdev4

# Used for downloaded code
deps/Cocoa-deps/sparkle
deps/libpng


# Build products
build/
oolite.app
obj.spk
obj.win.spk
obj.spk.dbg
obj.win.spk.dbg
AddOns/
tools/icosmesh/obj
doxygen/html

# Debug output
/core
