{
	"bbc_us" = {
		description = "BBC Config - (US) keyboard";
		mapping_normal = {
			"50" = 96; // ` key
			"18" = 49; // 1 key
			"19" = 50; // 2 key
			"20" = 51; // 3 key
			"21" = 52; // 4 key
			"23" = 53; // 5 key
			"22" = 54; // 6 key
			"26" = 55; // 7 key
			"28" = 56; // 8 key
			"25" = 57; // 9 key
			"29" = 48; // 0 key
			"27" = 45; // - key
			"24" = 61; // = key
			"12" = 113; // q key
			"13" = 119; // w key
			"14" = 101; // e key
			"15" = 114; // r key
			"17" = 116; // t key
			"16" = 121; // y key
			"32" = 117; // u key
			"34" = 105; // i key
			"31" = 111; // o key
			"35" = 112; // p key
			"33" = 91; // [ key
			"30" = 93; // ] key
			"42" = 92; // \ key
			"0" = 97; // a key
			"1" = 115; // s key
			"2" = 100; // d key
			"3" = 102; // f key
			"5" = 103; // g key
			"4" = 104; // h key
			"38" = 106; // j key
			"40" = 107; // k key
			"37" = 108; // l key
			"41" = 59; // ; key
			"39" = 39; // ' key
			"6" = 122; // z key
			"7" = 120; // x key
			"8" = 99; // c key
			"9" = 118; // v key
			"11" = 98; // b key
			"45" = 110; // n key
			"46" = 109; // m key
			"43" = 44; // , key
			"47" = 46; // . key
			"75" = 47; // / key

			// numpad keys - internal number refs
			"65" = 324; // . key
			"69" = 323; // + key
			"78" = 322; // - key
			"67" = 321; // * key
			"75" = 320; // / key
			"81" = 325; // = key
			"82" = 310; //48; // 0 key
			"83" = 311; //49; // 1 key
			"84" = 312; //50; // 2 key
			"85" = 313; //51; // 3 key
			"86" = 314; //52; // 4 key
			"87" = 315; //53; // 5 key
			"88" = 316; //54; // 6 key
			"89" = 317; //55; // 7 key
			"91" = 318; //56; // 8 key
			"92" = 319; //57; // 9 key
			"76" = 326; //numpad enter
		};
		mapping_shifted = {
			"50" = 126; // ~ key
			"18" = 33; // ! key
			"19" = 64; // @ key
			"20" = 35; // # key
			"21" = 36; // $ key
			"23" = 37; // % key
			"22" = 94; // ^ key
			"26" = 38; // & key
			"28" = 42; // * key
			"25" = 40; // ( key
			"29" = 41; // ) key
			"27" = 95; // _ key
			"24" = 43; // + key
			"12" = 81; // Q key
			"13" = 87; // W key
			"14" = 69; // E key
			"15" = 82; // R key
			"17" = 84; // T key
			"16" = 89; // Y key
			"32" = 85; // U key
			"34" = 73; // I key
			"31" = 79; // O key
			"35" = 80; // P key
			"33" = 123; // { key
			"30" = 125; // } key
			"42" = 124; // | key
			"0" = 65; // A key
			"1" = 83; // S key
			"2" = 68; // D key
			"3" = 70; // F key
			"5" = 71; // G key
			"4" = 72; // H key
			"38" = 74; // J key
			"40" = 75; // K key
			"37" = 76; // L key
			"41" = 58; // : key
			"39" = 34; // " key
			"6" = 90; // Z key
			"7" = 88; // X key
			"8" = 67; // C key
			"9" = 86; // V key
			"11" = 66; // B key
			"45" = 78; // N key
			"46" = 77; // M key
			"43" = 60; // < key
			"47" = 62; // > key
			"75" = 63; // ? key

			// numpad keys - internal number refs
			"65" = 324; // . key
			"69" = 323; // + key
			"78" = 322; // - key
			"67" = 321; // * key
			"75" = 320; // / key
			"81" = 325; // = key
			"82" = 310; //48; // 0 key
			"83" = 311; //49; // 1 key
			"84" = 312; //50; // 2 key
			"85" = 313; //51; // 3 key
			"86" = 314; //52; // 4 key
			"87" = 315; //53; // 5 key
			"88" = 316; //54; // 6 key
			"89" = 317; //55; // 7 key
			"91" = 318; //56; // 8 key
			"92" = 319; //57; // 9 key
			"76" = 326; //numpad enter
		};
	};
}