{
	"bbc_us" = {
		description = "BBC Config - (US) keyboard";
		mapping_normal = {
			"41" = 96; // ` key
			"2" = 49; // 1 key
			"3" = 50; // 2 key
			"4" = 51; // 3 key
			"5" = 52; // 4 key
			"6" = 53; // 5 key
			"7" = 54; // 6 key
			"8" = 55; // 7 key
			"9" = 56; // 8 key
			"10" = 57; // 9 key
			"11" = 48; // 0 key
			"12" = 45; // - key
			"13" = 61; // = key
			"16" = 113; // q key
			"17" = 119; // w key
			"18" = 101; // e key
			"19" = 114; // r key
			"20" = 116; // t key
			"21" = 121; // y key
			"22" = 117; // u key
			"23" = 105; // i key
			"24" = 111; // o key
			"25" = 112; // p key
			"26" = 91; // [ key
			"27" = 93; // ] key
			"43" = 92; // \ key
			"30" = 97; // a key
			"31" = 115; // s key
			"32" = 100; // d key
			"33" = 102; // f key
			"34" = 103; // g key
			"35" = 104; // h key
			"36" = 106; // j key
			"37" = 107; // k key
			"38" = 108; // l key
			"39" = 59; // ; key
			"40" = 39; // ' key
			"44" = 122; // z key
			"45" = 120; // x key
			"46" = 99; // c key
			"47" = 118; // v key
			"48" = 98; // b key
			"49" = 110; // n key
			"50" = 109; // m key
			"51" = 44; // , key
			"52" = 46; // . key
			"53" = 47; // / key
		};
		mapping_shifted = {
			"41" = 126; // ~ key
			"2" = 33; // ! key
			"3" = 64; // @ key
			"4" = 35; // # key
			"5" = 36; // $ key
			"6" = 37; // % key
			"7" = 94; // ^ key
			"8" = 38; // & key
			"9" = 42; // * key
			"10" = 40; // ( key
			"11" = 41; // ) key
			"12" = 95; // _ key
			"13" = 43; // + key
			"16" = 81; // Q key
			"17" = 87; // W key
			"18" = 69; // E key
			"19" = 82; // R key
			"20" = 84; // T key
			"21" = 89; // Y key
			"22" = 85; // U key
			"23" = 73; // I key
			"24" = 79; // O key
			"25" = 80; // P key
			"26" = 123; // { key
			"27" = 125; // } key
			"43" = 124; // | key
			"30" = 65; // A key
			"31" = 83; // S key
			"32" = 68; // D key
			"33" = 70; // F key
			"34" = 71; // G key
			"35" = 72; // H key
			"36" = 74; // J key
			"37" = 75; // K key
			"38" = 76; // L key
			"39" = 58; // : key
			"40" = 34; // " key
			"44" = 90; // Z key
			"45" = 88; // X key
			"46" = 67; // C key
			"47" = 86; // V key
			"48" = 66; // B key
			"49" = 78; // N key
			"50" = 77; // M key
			"51" = 60; // < key
			"52" = 62; // > key
			"53" = 63; // ? key
		};
	};
}