{
	"bbc_us" = {
		description = "BBC Config - (US) keyboard";
		mapping_normal = {
			"49" = 96; // ` key
			"10" = 49; // 1 key
			"11" = 50; // 2 key
			"12" = 51; // 3 key
			"13" = 52; // 4 key
			"14" = 53; // 5 key
			"15" = 54; // 6 key
			"16" = 55; // 7 key
			"17" = 56; // 8 key
			"18" = 57; // 9 key
			"19" = 48; // 0 key
			"20" = 45; // - key
			"21" = 61; // = key
			"24" = 113; // q key
			"25" = 119; // w key
			"26" = 101; // e key
			"27" = 114; // r key
			"28" = 116; // t key
			"29" = 121; // y key
			"30" = 117; // u key
			"31" = 105; // i key
			"32" = 111; // o key
			"33" = 112; // p key
			"34" = 91; // [ key
			"35" = 93; // ] key
			"51" = 92; // \ key
			"38" = 97; // a key
			"39" = 115; // s key
			"40" = 100; // d key
			"41" = 102; // f key
			"42" = 103; // g key
			"43" = 104; // h key
			"44" = 106; // j key
			"45" = 107; // k key
			"46" = 108; // l key
			"47" = 59; // ; key
			"48" = 39; // ' key
			"52" = 122; // z key
			"53" = 120; // x key
			"54" = 99; // c key
			"55" = 118; // v key
			"56" = 98; // b key
			"57" = 110; // n key
			"58" = 109; // m key
			"59" = 44; // , key
			"60" = 46; // . key
			"106" = 47; // / key

			// numpad keys
			"91" = 46; // . key
			"86" = 43; // + key
			"82" = 45; // - key
			"63" = 42; // * key
			"106" = 47; // / key
			"90" = 310; //48; // 0 key
			"87" = 311; //49; // 1 key
			"88" = 312; //50; // 2 key
			"89" = 313; //51; // 3 key
			"83" = 314; //52; // 4 key
			"84" = 315; //53; // 5 key
			"85" = 316; //54; // 6 key
			"79" = 317; //55; // 7 key
			"80" = 318; //56; // 8 key
			"81" = 319; //57; // 9 key
			"104" = 13; //numpad enter
		};
		mapping_shifted = {
			"49" = 126; // ~ key
			"10" = 33; // ! key
			"11" = 64; // @ key
			"12" = 35; // # key
			"13" = 36; // $ key
			"14" = 37; // % key
			"15" = 94; // ^ key
			"16" = 38; // & key
			"17" = 42; // * key
			"18" = 40; // ( key
			"19" = 41; // ) key
			"20" = 95; // _ key
			"21" = 43; // + key
			"24" = 81; // Q key
			"25" = 87; // W key
			"26" = 69; // E key
			"27" = 82; // R key
			"28" = 84; // T key
			"29" = 89; // Y key
			"30" = 85; // U key
			"31" = 73; // I key
			"32" = 79; // O key
			"33" = 80; // P key
			"34" = 123; // { key
			"35" = 125; // } key
			"51" = 124; // | key
			"38" = 65; // A key
			"39" = 83; // S key
			"40" = 68; // D key
			"41" = 70; // F key
			"42" = 71; // G key
			"43" = 72; // H key
			"44" = 74; // J key
			"45" = 75; // K key
			"46" = 76; // L key
			"47" = 58; // : key
			"48" = 34; // " key
			"52" = 90; // Z key
			"53" = 88; // X key
			"54" = 67; // C key
			"55" = 86; // V key
			"56" = 66; // B key
			"57" = 78; // N key
			"58" = 77; // M key
			"59" = 60; // < key
			"60" = 62; // > key
			"106" = 63; // ? key

			// numpad keys
			"91" = 46; // . key
			"86" = 43; // + key
			"82" = 45; // - key
			"63" = 42; // * key
			"106" = 47; // / key
			"90" = 310; //48; // 0 key
			"87" = 311; //49; // 1 key
			"88" = 312; //50; // 2 key
			"89" = 313; //51; // 3 key
			"83" = 314; //52; // 4 key
			"84" = 315; //53; // 5 key
			"85" = 316; //54; // 6 key
			"79" = 317; //55; // 7 key
			"80" = 318; //56; // 8 key
			"81" = 319; //57; // 9 key
			"104" = 13; //numpad enter
		};
	};
}