{
    CFBundleDevelopmentRegion = English;
    CFBundleDocumentTypes = (
	{
	    CFBundleTypeExtensions = (
		"oolite-save"
	    );
	    CFBundleTypeIconFile = "oolite-document";
	    CFBundleTypeName = "Oolite Saved Game";
	    CFBundleTypeRole = Editor;
	},
	{
	    CFBundleTypeExtensions = (
		oxp
	    );
	    CFBundleTypeIconFile = "oolite-expansion-document";
	    CFBundleTypeName = "Oolite Expansion Pack";
	    CFBundleTypeRole = Editor;
	    LSTypeIsPackage = <*BY>
;
	},
	{
	    CFBundleTypeExtensions = (
		oolite_expansion_pack
	    );
	    CFBundleTypeIconFile = "oolite-expansion-document";
	    CFBundleTypeName = "Oolite Expansion Pack";
	    CFBundleTypeRole = Editor;
	    LSTypeIsPackage = <*BY>
;
	},
	{
	}
    );
    CFBundleExecutable = Oolite;
    CFBundleIconFile = "oolite-icon";
    CFBundleIdentifier = org.aegidian.oolite;
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundleName = Oolite;
    CFBundlePackageType = APPL;
    CFBundleSignature = Ool8;
    CFBundleVersion = 1.49;
    NSMainNibFile = MainMenu;
    NSPrincipalClass = OoliteApp;
}