[Desktop Entry]
Name=oolite
Comment=An OpenGL Elite-like space game
Exec=run_oolite.sh
Icon=space.oolite.Oolite
Terminal=false
Type=Application
Categories=Game;Simulation;
StartupWMClass=oolite
