{
	title = "Oolite Debug OXP";
	identifier = "org.oolite.oolite.debug";
	
	version = "1.84";
	required_oolite_version = "1.84";
	
	license = "GPL 2+ / CC-BY-NC-SA 3.0 - see LICENSE.TXT for details";
	author = "Giles Williams, Jens Ayton and contributors";
	information_url = "http://www.oolite.org/";
}
