{
	GLOBAL =
	{
		ENTER = ("setStateTo: LOOT");
	};
	LOOT =
	{
		ENTER = (performCollect);
		"ATTACKER_MISSED" = ("exitAIWithMessage: ATTACKED"); 
		ATTACKED = ("exitAIWithMessage: ATTACKED");
		"COLLISION" = (exitAI);
		"FRUSTRATED" = ("setSpeedTo: 0.0", performIdle, exitAI);
		"CARGO_SCOOPED" = ("exitAIWithMessage: CARGO_SCOOPED");
		"HOLD_FULL" = ("exitAIWithMessage: HOLD_FULL");
		"INCOMING_MISSILE" = (fightOrFleeMissile, "exitAIWithMessage: INCOMING_MISSILE");
		"CASCADE_WEAPON_DETECTED" = ("exitAIWithMessage: CASCADE_WEAPON_DETECTED");
		"TARGET_LOST" = (exitAI);
	};
}
