{
    GLOBAL = {
	ENTER = (
	    "setStateTo: LOOT"
	);
	EXIT = (
	);
	UPDATE = (
	);
    };
    LOOT = {
	ATTACKED = (
	    exitAI
	);
	CARGO_SCOOPED = (
	    exitAI
	);
	COLLISION = (
	    exitAI
	);
	ENTER = (
	    performCollect
	);
	EXIT = (
	);
	HOLD_FULL = (
	    exitAI
	);
	INCOMING_MISSILE = (
	    fightOrFleeMissile,
	    exitAI
	);
	TARGET_LOST = (
	    exitAI
	);
	UPDATE = (
	);
    };
}