<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>none</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>250</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>pirate</key>
	<dict>
		<key>max_bounty</key>
		<integer>128</integer>
		<key>max_insurance</key>
		<integer>125</integer>
		<key>min_bounty</key>
		<integer>8</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>asp-pirate</key>
	<dict>
		<key>max_bounty</key>
		<integer>128</integer>
		<key>max_insurance</key>
		<integer>0</integer>
		<key>min_bounty</key>
		<integer>32</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>asp-cloaked</key>
	<dict>
		<key>max_bounty</key>
		<integer>512</integer>
		<key>max_insurance</key>
		<integer>0</integer>
		<key>min_bounty</key>
		<integer>128</integer>
		<key>min_insurance</key>
		<integer>0</integer>
		<key>species</key>
		<string>non-human</string>
	</dict>
	<key>constrictor</key>
	<dict>
		<key>max_bounty</key>
		<integer>512</integer>
		<key>max_insurance</key>
		<integer>0</integer>
		<key>min_bounty</key>
		<integer>128</integer>
		<key>min_insurance</key>
		<integer>0</integer>
		<key>species</key>
		<string>human</string>
	</dict>
	<key>trader</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>500</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>125</integer>
	</dict>
	<key>sunskim-trader</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>500</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>175</integer>
	</dict>
	<key>hunter</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>375</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>75</integer>
	</dict>
	<key>scavenger</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>50</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>hermit-ship</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>0</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>shuttle</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>125</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>25</integer>
	</dict>
	<key>escort</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>125</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>0</integer>
	</dict>
	<key>miner</key>
	<dict>
		<key>max_bounty</key>
		<integer>0</integer>
		<key>max_insurance</key>
		<integer>75</integer>
		<key>min_bounty</key>
		<integer>0</integer>
		<key>min_insurance</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>
