{
	GLOBAL =
	{
		ENTER = (performIdle, checkForNormalSpace);
		"NORMAL_SPACE" = ("setStateTo: DECIDE_ROUTE"); 
		"INTERSTELLAR_SPACE" = ("switchAITo: exitingTraderAI.plist"); 
	};
	"DECIDE_ROUTE" =
	{
		ENTER = ("rollD: 3");
		"ROLL_1" = ("switchAITo: route1traderAI.plist");
		"ROLL_2" = ("switchAITo: route1traderAI.plist");
		"ROLL_3" = ("checkHeatInsulation");
		"INSULATION_OK" = ("switchAITo: route2sunskimAI.plist");
		"INSULATION_POOR" = ("switchAITo: route1traderAI.plist");
	};
}
