{
	GLOBAL =
	{
		ENTER = ("setStateTo: CHECK_HOLD");
	};
	"CHECK_HOLD" =
	{
		ENTER = (checkForFullHold);
		"HOLD_FULL" = ("switchAITo: enteringTraderAI.plist");
        	"HOLD_NOT_FULL" = ("switchAITo: pirateAI.plist"); 
        	"NO_CARGO_BAY" = ("switchAITo: pirateAI.plist"); 
		UPDATE = ("setStateTo: STILL_HUNGRY");
	};
	"STILL_HUNGRY" =
	{
		"HOLD_FULL" = ("switchAITo: enteringTraderAI.plist");
		UPDATE = ("switchAITo: pirateAI.plist");
	};
}