{
    BEGIN_BUSINESS = {
	ATTACKED = (
	    setTargetToPrimaryAggressor,
	    "setAITo: interceptAI.plist"
	);
	ENTER = (
	    escortCheckMother
	);
	ESCORTING = (
	    "setDesiredRangeTo: 0.0",
	    performEscort
	);
	EXIT = (
	);
	NOT_ESCORTING = (
	    "setStateTo: LOOK_FOR_BUSINESS"
	);
	UPDATE = (
	);
    };
    FLYING_ESCORT = {
	ATTACKED = (
	    "messageMother: ATTACKED"
	);
	ENTER = (
	    performEscort
	);
	ESCORTING = (
	    "setDesiredRangeTo: 0.0",
	    performEscort
	);
	EXIT = (
	);
	GROUP_ATTACK_TARGET = (
	    setTargetToFoundTarget,
	    "setAITo: interceptAI.plist"
	);
	INCOMING_MISSILE = (
	    "messageMother: INCOMING_MISSILE"
	);
	NOT_ESCORTING = (
	    "setStateTo: LOOK_FOR_BUSINESS"
	);
	RESTARTED = (
	    "setStateTo: BEGIN_BUSINESS"
	);
	TARGET_DESTROYED = (
	    "setStateTo: LOOK_FOR_BUSINESS"
	);
	TARGET_LOST = (
	    "setStateTo: LOOK_FOR_BUSINESS"
	);
	UPDATE = (
	    escortCheckMother,
	    "pauseAI: 15"
	);
    };
    GLOBAL = {
	ENTER = (
	    "setStateTo: BEGIN_BUSINESS"
	);
	EXIT = (
	);
	UPDATE = (
	);
    };
    LOOK_FOR_BUSINESS = {
	ATTACKED = (
	    setTargetToPrimaryAggressor,
	    "setAITo: interceptAI.plist"
	);
	ENTER = (
	    "setSpeedTo: 0.0",
	    performIdle
	);
	ESCORTING = (
	    "setDesiredRangeTo: 0.0",
	    "setStateTo: FLYING_ESCORT"
	);
	EXIT = (
	);
	RESTARTED = (
	    "setStateTo: BEGIN_BUSINESS"
	);
	TARGET_FOUND = (
	    setTargetToFoundTarget,
	    suggestEscort
	);
	UPDATE = (
	    scanForFormationLeader,
	    "pauseAI: 15.0"
	);
    };
}