{
	GLOBAL =
	{
		UPDATE =
		(
			"disengageAutopilot",
			/*	The AI messaging mechanism is used for things that are handled
				internally by Oolite, so we need a short think time even though
				this AI apparently doesn't do anything.
			*/
			"pauseAI: 2"
		);
	};
	BEGIN_DOCKING =
	{
		ENTER = ("setAITo: dockingAI.plist");
		RESTARTED =
		(
			/*	We get here if docking failed (for instance, if the station
				disappeared or turned out not to have a docking slit).
			*/
			"dropMessages: DOCKING_ABORTED",
			"setSpeedFactorTo: 0",
			"disengageAutopilot",
			"setStateTo: GLOBAL"
		);
	};
}
