{
	GLOBAL =
	{
		ENTER = (performStop);
		"DOCKING_COMPLETE" = ("setStateTo: WAIT_A_MOMENT");
		"DOCKING_REQUESTED" = ("dropMessages: DOCKING_COMPLETE");
		"STATION_LAUNCHED_SHIP" = ("pauseAI: 10.0");
		ATTACKED = ("exitAIWithMessage: ATTACKED");
		"INCOMING_MISSILE" = ("exitAIWithMessage: INCOMING_MISSILE");
		UPDATE = ("pauseAI: 10.0");
	};
	"WAIT_A_MOMENT" =
	{
		ENTER = ("pauseAI: 10.0");
		"DOCKING_REQUESTED" = ("setStateTo: GLOBAL");
		"STATION_LAUNCHED_SHIP" = ("pauseAI: 10.0");
		ATTACKED = ("exitAIWithMessage: ATTACKED");
		"INCOMING_MISSILE" = ("exitAIWithMessage: INCOMING_MISSILE");
		UPDATE = (exitAI);
	};
}