{
	GLOBAL =
	 {
		ENTER = ("setSpeedTo: 0.0", "setStateTo: LIFT_OFF");
	};
	"LIFT_OFF" =
	{
		ENTER = (setTakeOffFromPlanet, "setSpeedFactorTo: 1.0", performFlyToRangeFromDestination);
		"DESIRED_RANGE_ACHIEVED" = ("setStateTo: GO_TO_STATION");
	};
	"GO_TO_STATION" =
	{
		ENTER = (setTargetToSystemStation, "setDesiredRangeTo: 5000.0", setDestinationToTarget, checkCourseToDestination);
		"WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
		"COURSE_OK" = ("setSpeedFactorTo: 1.0", performFlyToRangeFromDestination);
		"DESIRED_RANGE_ACHIEVED" = (setTargetToSystemStation, "setAITo: dockingAI.plist");
		ATTACKED = (setTargetToPrimaryAggressor, broadcastDistressMessage, "setStateTo: FLEE");
		"INCOMING_MISSILE" = (fightOrFleeMissile, "setStateTo: FLEE");
		UPDATE = (setTargetToSystemStation, "setDesiredRangeTo: 5000.0", setDestinationToTarget, checkCourseToDestination);
	};
	FLEE =
	{
		ENTER = ("setDesiredRangeTo: 25600", performFlee);
		"TARGET_LOST" = (performIdle, "setStateTo: GLOBAL");
		"INCOMING_MISSILE" = (fightOrFleeMissile, "setStateTo: FLEE");
		"REACHED_SAFETY" = ("setSpeedTo: 0.0", performIdle, "pauseAI: 30.0");
	};
}
