{
	GLOBAL =
	{
		ENTER = ("setStateTo: TRAVEL_TO_PLANET");
	};
	"DEFEND_SELF" =
	{
		ENTER = (performAttack);
		"ENERGY_LOW" = ("setStateTo: FLEE");
		"TARGET_DESTROYED" = ("setStateTo: TRAVEL_TO_PLANET");
	};
	"EXIT_SYSTEM" =
	{
		ENTER = (performLanding);
	};
	FLEE =
	{
		ENTER = (performFlee);
		"REACHED_SAFETY" = (performIdle, "setStateTo: TRAVEL_TO_PLANET");
	};
	"TRAVEL_TO_PLANET" =
	{
		ENTER = (performFlyToPlanet);
		ATTACK = (setTargetToPrimaryAggressor, "setStateTo: DEFEND_SELF");
		"REACHED_SURFACE" = ("setStateTo: EXIT_SYSTEM");
	};
}
