{
	GLOBAL =
	{
		ENTER = ("setStateTo: ATTACK_SHIP");
	};
	"ATTACK_SHIP" =
	{
		ENTER = (performAttack);
		"CASCADE_WEAPON_DETECTED" = ("setAITo: respondQMineAI.plist");
		"THARGOID_DESTROYED" = ("setStateTo: CHECK_FOR_CONTROL");
		"TARGET_DESTROYED" = ("setStateTo: CHECK_FOR_CONTROL");
		"TARGET_LOST" = ("setStateTo: CHECK_FOR_CONTROL");
		"NOTHING_FOUND" = ("setStateTo: CHECK_FOR_CONTROL");
		UPDATE = (thargonCheckMother, "pauseAI: 5.0");
	};
	"CHECK_FOR_CONTROL" =
	 {
		ENTER = ("setSpeedTo: 0.0", performTumble);
		"TARGET_FOUND" = ("setStateTo: LOOK_FOR_TARGETS");
		"NOTHING_FOUND" = (becomeUncontrolledThargon);
		UPDATE = (thargonCheckMother, "pauseAI: 1.0");
	};
	"LOOK_FOR_TARGETS" =
	 {
		ENTER = (scanForNonThargoid, "pauseAI: 1.0");
		"CASCADE_WEAPON_DETECTED" = ("setAITo: respondQMineAI.plist");
		"TARGET_FOUND" = (setTargetToFoundTarget, "setStateTo: ATTACK_SHIP");
		"NOTHING_FOUND" = ("pauseAI: 10.0", "setStateTo: CHECK_FOR_CONTROL");
		RESTARTED = ("setStateTo: CHECK_FOR_CONTROL");
	};
}
