{
    ATTACK_SHIP = {
	ENTER = (
	    performAttack
	);
	EXIT = (
	);
	NOTHING_FOUND = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	TARGET_DESTROYED = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	TARGET_LOST = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	THARGOID_DESTROYED = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	UPDATE = (
	    scanForThargoid,
	    "pauseAI: 5.0"
	);
    };
    CHECK_FOR_CONTROL = {
	ENTER = (
	    "setSpeedTo: 0.0",
	    performTumble
	);
	EXIT = (
	);
	TARGET_FOUND = (
	    "setStateTo: LOOK_FOR_TARGETS"
	);
	THARGOID_DESTROYED = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	UPDATE = (
	    scanForThargoid,
	    "pauseAI: 1.0"
	);
    };
    GLOBAL = {
	ENTER = (
	    "setStateTo: ATTACK_SHIP"
	);
	EXIT = (
	);
	UPDATE = (
	);
    };
    LOOK_FOR_TARGETS = {
	ENTER = (
	    scanForNonThargoid,
	    "pauseAI: 1.0"
	);
	EXIT = (
	);
	TARGET_FOUND = (
	    setTargetToFoundTarget,
	    "setStateTo: ATTACK_SHIP"
	);
	THARGOID_DESTROYED = (
	    "setStateTo: CHECK_FOR_CONTROL"
	);
	UPDATE = (
	    scanForNonThargoid,
	    "pauseAI: 10.0"
	);
    };
}