/*
	This file defines message classes to be listed in the Log Message Classes
	submenu of the Debug menu.
	
	Each entry consists of two list items. The first is the display name, the
	name of the menu item to use. The second is the log message class or
	metaclass the menu item should affect. These are the same keys that are
	set in logcontrol.plist.
	
	Changes made using the menu are not saved between sessions.
	
	debugLogMessageClassesMenu.plist is merged in the usual fashion.
*/

(
	"General Errors",			$error,
	"Script Errors",			$scriptError,
	"Script Debug",				$scriptDebug,
	"Script Trace",				"script.trace",
	"Script Detailed Trace",	"script.debug.trace",
	"Shader Debug",				$shaderDebugOn,
	"Troubleshooting Dumps",	$troubleShootingDump,
	"Entity State",				$entityState,
	"Data Cache Debug",			$dataCacheDebug,
	"Rendering Errors",			"rendering.opengl.error",
	"Texture Debug",			$textureDebug,
	"Sound Debug",				$soundDebug
)
