/*	This is a schema for a single entry in a shipdata.plist file (not the file
	as a whole).
*/

{
	type = "dictionary";
	schema = {
		accuracy = "float";
		aft_eject_position = "vector";
		aft_weapon_type = "string";
		ai_type = "$aiFileName";
		allows_auto_docking = "boolean";
		allows_fast_docking = "boolean";
		auto_ai = "boolean";
		beacon = "string";
		bounty = "positiveInteger";
		cargo_carried = "$cargoCarried";
		cargo_type = "$cargoType";
		cloak_passive = "boolean";
		cloak_automatic = "boolean";
		conditions = "$scriptConditionList";
		counts_as_kill = "boolean";
		custom_views = { type = "array"; valueType = "$customViewSpec"; };
		death_actions = "$scriptActions";
		debris_role = "$shipRole";
		defense_ship = "$shipKey";
		defense_ship_role = "$shipRole";
		density = "positiveFloat";
		display_name = "string";
		energy_recharge_rate = "positiveFloat";
		equipment_price_factor = "positiveFloat";
		equivalent_tech_level = "integer";
		escape_pod_role = "$shipRole";		// new, improved (1.77)
		escape_pod_model = "$shipRole";		// old, deprecated
		escorts = { type = "positiveInteger"; maximum = 16; };
		escort_role = "$shipRole";
		escort-role = "$shipRole";
		escort_ship = "$shipKey";
		escort-ship = "$shipKey";
		exhaust = { type = "array"; valueType = "$exhaustSpecifier"; };
		extra_cargo = "positiveInteger";
		extra_equipment = "$extraEquipmentDictionary";
		fire_rate = { type = "positiveFloat"; minimum = 0.25; };
		forward_weapon_type = "string";
		fragment_chance = "fuzzyBoolean";
		frangible = "boolean";
		fuel = "positiveInteger";
		fuel_charge_rate = "positiveFloat";
		has_cloaking_device = "fuzzyBoolean";
		has_ecm = "fuzzyBoolean";
		has_energy_bomb = "fuzzyBoolean";
		has_escape_pod = "positiveInteger";
		has_fuel_injection = "fuzzyBoolean";
		has_military_jammer = "fuzzyBoolean";
		has_military_scanner_filter = "fuzzyBoolean";
		has_npc_traffic = "fuzzyBoolean";
		has_patrol_ships = "fuzzyBoolean";
		has_scoop = "fuzzyBoolean";
		has_scoop_message = "boolean";
		has_shield_booster = "fuzzyBoolean";
		has_shield_enhancer = "fuzzyBoolean";
		has_shipyard = "$hasShipyard";
		hasShipyard = "$hasShipyard";
		heat_insulation = "positiveFloat";
		hud = "$hudFileName";
		hyperspace_motor = "boolean";
		hyperspace_motor_spin_time = "positiveFloat";
		interstellar_undocking = "boolean";
		is_carrier = "boolean";
		isCarrier = "boolean";
		is_external_dependency = "boolean";
		is_hulk = "boolean";
		is_submunition = "boolean";
		is_template = "boolean";
		laser_color = "$colorSpecifier";
		launch_actions = "$scriptActions";
		like_ship = "$shipRole";
		likely_cargo = "positiveInteger";
		market = "string";
		materials = "$materialDict";
		max_cargo = "positiveInteger";
		max_defense_ships = "positiveInteger";
		max_energy = "positiveFloat";
		max_flight_speed = "positiveFloat";
		max_flight_roll = "positiveFloat";
		max_flight_pitch = "positiveFloat";
		max_flight_yaw = "positiveFloat";
		max_missiles = "positiveInteger";
		max_police = "positiveInteger";
		max_scavengers = "positiveInteger";
		missile_launch_position = "vector";
		missile_load_time = "positiveFloat";
		missiles = "positiveInteger";
		missile_role = "$shipRole";
		model = "$modelName";
		name = "string";
		no_boulders = "fuzzyBoolean";
		pilot = "$characterKey";
		port_dimensions = "$portDimensions";
		port_radius = "positiveFloat";
		port_weapon_type = "string";
		requires_docking_clearance = "boolean";
		roles = "$roles";
		rotating = "boolean";
		rotational_velocity = "quaternion";
		scan_class = "$scanClass";
		scanClass = "$scanClass";
		scanner_display_color1 = "$colorSpecifier";
		scanner_display_color2 = "$colorSpecifier";
		scanner_range = "positiveFloat";
		scoop_position = "vector";
		script = "$scriptFileName";
		script_actions = "$scriptActions";
		script_info = "dictionary";
		setup_actions = "$scriptActions";
		shaders = "$materialDict";
		smooth = "boolean";
		starboard_weapon_type = "string";
		station_roll = "float";
		subentities = { type = "array"; valueType = "$subEntitySpecifier"; };
		sun_glare_filter = { type = "positiveFloat"; maximum = 1; };
		throw_sparks = "boolean";
		thrust = "positiveFloat";
		track_contacts = "boolean";
		tunnel_aspect_ratio = "positiveFloat";
		tunnel_corners = "positiveInteger";
		tunnel_start_angle = "float";
		view_position_aft = "vector";
		view_position_forward = "vector";
		view_position_port = "vector";
		view_position_starboard = "vector";
		weapon_energy = "positiveFloat";
		weapon_facings = "positiveInteger";
		weapon_position_aft = "$weaponPosition";
		weapon_position_forward = "$weaponPosition";
		weapon_position_port = "$weaponPosition";
		weapon_position_starboard = "$weaponPosition";
		weapon_offset_x = "float";	// NOTE: ignored after 1.65
		weapon_range = "positiveFloat";
		unpiloted = "fuzzyBoolean";
	};
	$definitions = {
		// "Special" types referred to above.
		$materialDict = {
			type = "dictionary";
			schema = {
				ambient = "$colorSpecifier";		// Deprecated but permitted alias for ambient_color
				ambient_color = "$colorSpecifier";
				diffuse = "$colorSpecifier";		// Deprecated but permitted alias for diffuse_color
				diffuse_color = "$colorSpecifier";
				diffuse_map = "$textureSpecifier";
				emission = "$colorSpecifier";		// Deprecated but permitted alias for emission_color
				emission_color = "$colorSpecifier";
				emission_map = "$textureSpecifier";
				emission_modulate_color = "$colorSpecifier";
				normal_map = "$textureSpecifier";
				specular = "$colorSpecifier";		// Deprecated but permitted alias for specular_color
				specular_color = "$colorSpecifier";	
				specular_map = "$textureSpecifier";
				specular_modulate_color = "$colorSpecifier";

				gloss = { type = "positiveFloat"; maximum = 1; };
				shininess = { type = "positiveInteger"; maximum = 128; };
				fragment_shader = "$shaderFileName";
				textures = { type = "array"; valueType = "$textureSpecifier"; };
				uniforms = {
					type = "dictionary";
					valueType = {
						type = "oneOf";
						options = (
							"string",
							{
								type = "dictionary";
								schema = {
									asMatrix = "boolean";
									binding = "string";
									clamped = "boolean";
									normalized = "boolean";
									type = { type = "enumeration"; values = ( "binding", "float", "real", "int", "integer", "texture" ); };
									value = "float";
								};
							}
						);
					};
				};
				vertex_shader = "$shaderFileName";
			};
		};
		$textureSpecifier = {
			type = "oneOf";
			options = (
				"string",
				{
					type = "dictionary";
					schema = {
						anisotropy = "positiveFloat";
						mag_filter = { type = "enumeration"; values = ( "nearest", "linear" ); };
						min_filter = { type = "enumeration"; values = ( "nearest", "linear", "mipmap", "default" ); };
						name = "string";
						no_shrink = "boolean";
						repeat_s = "boolean";
						repeat_t = "boolean";
						texture_LOD_bias = "float";
					};
				}
			);
		};
		$scanClass = {
			type = "enumeration";
			values = (
				"CLASS_NOT_SET",
				"CLASS_NEUTRAL",
				"CLASS_NO_DRAW",
				"CLASS_BUOY",
				"CLASS_CARGO",
				"CLASS_MILITARY",
				"CLASS_MISSILE",
				"CLASS_MINE",
				"CLASS_POLICE",
				"CLASS_ROCK",
				"CLASS_STATION",
				"CLASS_THARGOID"
			);
		};
		$cargoType = {
			type = "enumeration";
			values = (
				"CARGO_NOT_CARGO",
				"CARGO_SLAVES",
				"CARGO_ALLOY",
				"CARGO_MINERALS",
				"CARGO_THARGOID",
				"CARGO_RANDOM",
				"CARGO_CARRIED",
				"CARGO_SCRIPTED_ITEM",
				"CARGO_CHARACTER"
			);
		};
		$customViewSpec = {
			type = "dictionary";
			schema = {
				view_description = "string";
				view_position = "vector";
				view_orientation = "quaternion";
				weapon_facing = {
					type = "enumeration";
					filter = "lowerCase";
					values = ( "forward", "aft", "port", "starboard" );
				};
			};
		};
		$weaponPosition = {
			type = "oneOf";
			options =  ( "vector", "array" );
		};
		
		// Types handled in code.
		$modelName = {
			type = "delegatedType";
			baseType = {
				type = "string";
				filter = "lowerCase";
				requiredSuffix = ".dat";
			};
			key = "modelName";
		};
		$colorSpecifier = {
			type = "delegatedType";
			baseType = {
				type = "oneOf";
				options = ( "array", "dictionary", "string" );
			};
			key = "colorSpecifier";
		};
		$textureFileName = {
			type = "delegatedType";
			baseType = {
				type = "string";
				filter = "lowerCase";
				requiredSuffix = ".png";
			};
			key = "textureFileName";
		};
		$hasShipyard = {
			type = "oneOf";
			options = ( "$scriptCondition", "boolean" );
		};
		$aiFileName = {
			type = "oneOf";
			options =  ( "$aiFileNamePlist", "$aiFileNameJs" );
			key = "aiFileName";
		};
		$aiFileNamePlist = {
			type = "delegatedType";
			baseType = {
				type = "string";
				filter = "lowerCase";
				requiredSuffix = ".plist";
			};
		};
		$aiFileNameJs = {
			type = "delegatedType";
			baseType = {
				type = "string";
				filter = "lowerCase";
				requiredSuffix = ".js";
			};
		};
		$shaderFileName = {
			type = "delegatedType";
			baseType = {
				type = "string";
				filter = "lowerCase";
				requiredSuffix = ( ".vertex", ".vert", ".fragment", ".frag" );
			};
			key = "shaderFileName";
		};
		$exhaustSpecifier = {
			type = "delegatedType";
			baseType = "string";
			key = "exhaustSpecifier";
		};
		$subEntitySpecifier = {
			type = "oneOf";
			options =  (
				{
					type = "delegatedType";
					baseType = "string";
					key = "subEntitySpecifier";
				},
				{
					type = "dictionary";
					requiredKeys = ( "type", "subentity_key" );
					schema = {
						type = { type = "enumeration"; values = ( "standard", "ball_turret" ); };
						subentity_key = "$shipKey";
						position = "vector";
						orientation = "quaternion";
						is_dock = "boolean";
					};
				},
				{
					type = "dictionary";
					requiredKeys = ( "type" );
					schema = {
						type = { type = "enumeration"; values = ( "flasher" ); };
						color = "$colorSpecifier";
						colors = { type = "array"; valueType = "$colorSpecifier"; };
						position = "vector";
						orientation = "quaternion";
						size = "positiveFloat";
						frequency = "float";
						phase = "float";
						initially_on = "boolean";
					};
				}
			);
		};
		$scriptActions = {
			type = "delegatedType";
			baseType = "array";
			key = "scriptActions";
		};
		$characterKey = {
			type = "delegatedType";
			baseType = "string";
			key = "characterKey";
		};
		$shipRole = {
			type = "delegatedType";
			baseType = "string";
			key = "shipRole";
		};
		$shipKey = {
			type = "delegatedType";
			baseType = "string";
			key = "shipKey";
		};
		$roles = {
			type = "delegatedType";
			baseType = "string";
			key = "roles";
		};
		$scriptCondition = {
			type = "delegatedType";
			baseType = "string";
			key = "scriptCondition";
		};
		$scriptConditionList = {
			type = "delegatedType";
			baseType = "array";
			key = "scriptConditions";
		};
		$portDimensions = {
			type = "delegatedType";
			baseType = "string";
			key = "portDimensions";
		};
		$extraEquipmentDictionary = {
			type = "delegatedType";
			baseType = "dictionary";
			key = "extraEquipmentDictionary";
		};
		$hudFileName = {
			type = "delegatedType";
			baseType = "string";
			key = "hudFileName";
		};
		$cargoCarried = {
			type = "delegatedType";
			baseType = "string";
			key = "cargoCarried";
		};
		$scriptFileName = {
			type = "delegatedType";
			baseType = "string";
			key = "$scriptFileName";
		};
	};
}
