<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oolite-save</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Saved Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.aegidian.oolite.save</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-expansion-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.aegidian.oolite.oxp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oxz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-expansion-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.aegidian.oolite.oxp.compressed</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>oolite-icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.aegidian.oolite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Oolite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Ool8</string>
	<key>CFBundleVersion</key>
	<string>1.79</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSDockTilePlugIn</key>
	<string>Oolite.docktileplugin</string>
	<key>NSMainNibFile</key>
	<string>Oolite</string>
	<key>NSPrincipalClass</key>
	<string>OoliteApp</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SparkleVerificationKey.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Saved Game</string>
			<key>UTTypeIconFile</key>
			<string>oolite-document</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.save</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oolite-save</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeIconFile</key>
			<string>oolite-expansion-document</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.expansion</string>
			<key>UTTypeReferenceURL</key>
			<string>http://wiki.alioth.net/index.php/OXP_howto</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.aegidian.oolite.expansion</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.oxp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oxp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.aegidian.oolite.expansion</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.oxp.compressed</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oxz</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
