<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oolite-save</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Saved Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.aegidian.oolite.save</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-expansion-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.aegidian.oolite.oxp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Oolite</string>
	<key>CFBundleIconFile</key>
	<string>oolite-icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.aegidian.oolite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Oolite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Ool8</string>
	<key>CFBundleVersion</key>
	<string>1.73</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>OoliteApp</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.save</string>
			<key>UTTypeDescription</key>
			<string>Oolite Saved Game</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oolite-save</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.oxp</string>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oxp</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>SmartCrashReports_CompanyName</key>
	<string>the Oolite team</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-A36F37AFFD</string>
	<key>SmartCrashReports_CommentsTemplate</key>
	<string>Please paste the last few lines of the run log here (in your home folder, open Library, then Logs, then Oolite, then Latest.log). If a large portion of the log appears relevant, consider sending a bug report by e-mail to oolite.bug.reports@gmail.com instead; please include the crash log if you do (Library, Logs, CrashReporter, Oolite.crash.log).</string>
</dict>
</plist>
