<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oolite-save</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Saved Game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oolite-expansion-document</string>
			<key>CFBundleTypeName</key>
			<string>Oolite Expansion Pack</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>OoliteDev</string>
	<key>CFBundleIconFile</key>
	<string>oolite-icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.aegidian.oolite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OoliteDev</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Ool8</string>
	<key>CFBundleVersion</key>
	<string>1.67.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>OoliteApp</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.save</string>
			<key>UTTypeDescription</key>
			<string>Oolite Saved Game</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oolite-save</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.aegidian.oolite.oxp</string>
			<key>UTTypeDescription</key>
			<string>Oolite Expansion Pack</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oxp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
