ARCHS									= i386 x86_64
SDKROOT									= macosx10.7

MACOSX_DEPLOYMENT_TARGET[arch=i386]		= 10.5
MACOSX_DEPLOYMENT_TARGET				= 10.6

GCC_VERSION								= com.apple.compilers.llvm.clang.1_0



// The vast majority of format warnings in 32-bit will be using %l{diux} for
// NS[U]Integer, which is perfectly safe. It's possible suppressing this will
// miss some real bugs, but not too likely, and casting everywhere is too ugly.
OO_ARCH_WARNING_FLAGS =
OO_ARCH_WARNING_FLAGS[arch=i386] = -Wno-format

OO_WARNING_FLAGS = -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-error=deprecated-declarations $OO_ARCH_WARNING_FLAGS
