ARCHS									= ppc i386 x86_64
SDKROOT									= macosx10.4
SDKROOT[arch=x86_64]					= macosx10.5
SDKROOT[arch=ppc64]						= macosx10.5
MACOSX_DEPLOYMENT_TARGET				= 10.4
MACOSX_DEPLOYMENT_TARGET[arch=x86_64]	= 10.5
MACOSX_DEPLOYMENT_TARGET[arch=ppc64]	= 10.5
//GCC_VERSION							= com.apple.compilers.llvm.clang.1_0
GCC_VERSION								= 4.2
GCC_VERSION[sdk=macosx10.4][arch=*]		= 4.0
