#include "oolite-version.xcconfig"


ALLOW_PROCEDURAL_PLANETS			= 0
DOCKING_CLEARANCE_ENABLED			= 1
TARGET_INCOMING_MISSILES			= 1
WORMHOLE_SCANNER					= 1


OOLITE_OPTION_MACROS				= ALLOW_PROCEDURAL_PLANETS=$(ALLOW_PROCEDURAL_PLANETS) DOCKING_CLEARANCE_ENABLED=$(DOCKING_CLEARANCE_ENABLED) TARGET_INCOMING_MISSILES=$(TARGET_INCOMING_MISSILES) WORMHOLE_SCANNER=$(WORMHOLE_SCANNER)
