// Hacktackular: Universe.m and OOLogHeader.m have $SNAPSHOT_MACROS in their
// "Additional Compiler Flags" setting. The Mac nightly script overrides this
// file to set up the SNAPSHOT_BUILD and OOLITE_SNAPSHOT_VERSION macros.
// OO_UNUSED_MACRO is, as the name suggests, unused; putting an empty string
// here leads to build problems.

SNAPSHOT_MACROS = "-DOO_UNUSED_MACRO"
