# mkdocs.yml
site_name: Oolite Documentation
site_url: https://oolite.readthedocs.io/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - search

nav:
  - Home: index.md
  - API Reference: api/html/index.html  # This points to the Doxygen output

not_in_nav: "api/html/**"
